<z:config type="ArticleList" name="文章列表" />
<html>
<head>
	<meta http-equiv="X-UA-Compatible" charset="utf-8" content="IE=edge">
	<title>【凌渡怎么样】口碑_性价比_缺点_优点_媒体说_车享网</title>
	<meta name="keywords" content="凌渡怎么样，凌渡性价比，凌渡优点，凌渡缺点" />
	<meta name="description" content="凌渡怎么样, 车享网凌渡媒体说频道,让您准确了解凌渡怎么样,好不好,精确定位凌渡的性价比、优缺点,选车买车用车养车信息尽在车享网" />
	<link rel="stylesheet" type="text/css" href="http://s1.cximg.com/msweb/css/reset.min.css?t=201501081748" /><link rel="stylesheet" type="text/css" href="http://s1.cximg.com/msweb/css/header/mainsite-header.min.css?t=201501081748" />
  <script>
	
	window.base="http://www.chexiang.com/car";
	
	window.accountBase="";
	
	window.mainBase="http://www.chexiang.com";
	
	window.imBase="chexiang";
	
	window.memberBase="http://member.chexiang.com";
	
</script>

<link href="http://s2.cximg.com/msweb/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
<script type="text/javascript" src="http://s1.cximg.com/js/jquery_1_8_3.min.js" ></script>
<script>$.ajaxSetup({ cache: false });</script>
<script type="text/javascript" src="http://s2.cximg.com/msweb/js/index/header.min.js?t=201501081748" ></script>
<script type="text/javascript" src="http://s1.cximg.com/carlibweb/jslib/jquery.lazyload.min.js?t=201501081748" ></script>
<script type="text/javascript" src="http://s1.cximg.com/carlibweb/js/brand/yearStyle.min.js?t=201501081748" ></script>
<script type="text/javascript" src="http://s1.cximg.com/msweb/js/index/indexIm.min.js?t=201501081748" ></script>
<link rel="stylesheet" type="text/css" href="http://s1.cximg.com/carlibweb/css/common.min.css?t=201501081748" />
<script type="text/javascript">var orderBase="http://order.chexiang.com"; var imUrl="?arg=admin&style=2";</script>
<link rel="stylesheet" type="text/css" href="http://s2.cximg.com/carlibweb/css/brand/index_v612.min.css?t=201501081748" /><link rel="stylesheet" type="text/css" href="http://s2.cximg.com/carlibweb/css/series/meiti.min.css?t=201501081748" />
</head>
  <body>
    <div class="main-wrap">
  <div class="content-wrap">
     <!-- 车系导航 -->
    <div class="seriesinfo  mb-30">
    <div class="fl"><img src="http://i2.cximg.com/images/300x200/919e4272f2739d26/20150108/424273d2e5f543a8a0e6274e280e9463.png" width="120" height="80" /></div>
    <div class="fl">
    <table width="600" border="0" cellspacing="0" cellpadding="0" class="c-modelInfo-table" style="margin-left:30px">
              <tbody>
              	<tr>
                	<td colspan="3"><div class="ico_sp cx_price"></div>
			    		：<b class="f-20 clr-red">暂无车享价</b>
			    	</td>
                </tr>
                <tr>
                  <td width="105" height="25">类型级别：<b>紧凑型车</b></td>
                  <td width="140">燃油及标号：<b><a  title="97号(京 沪95号)">97号(京 沪95号)</a></b></td>
                  <td width="105">油耗： <b>
                 	 -L/100km
        			</b></td>
                </tr>
                <tr>
                  <td width="105" height="25">排量： <b>
					1.4T
				 					|1.8T
				 </b></td>
				 <td colspan="2" width="105">变速箱：<b> 
					7挡双离合
				 					|5挡手动
				 </b></td>
                </tr>
              </tbody>
            </table>
    </div>
    </div>
    <div class="clear"></div>    <!-- 媒体LOGO -->    
        <div class="w990">
   	       <div class="mod_hd"><i class="hd_style cor-blue"></i><span>全部媒体</span> <div class="a_info">车享已收集到<a>6</a>个媒体的<a>10</a>篇凌渡相关文章</div>
        </div>
        <div class="events-line-blue"></div>
        
        <ul class="meiti-xg">
        <li><a href="javascript:;"><span class="autohome"></span>
				<span class="clr-gray"> 
				  暂无
				</span>
        </a> 
        <span class="mt_1st"></span>
        </li>
        <li><a href="javascript:;"><span class="biauto"></span>
				<span class="clr-gray"> 
				  暂无
				</span>
        </a> 
        </li>
        <li><a href="javascript:;"><span class="xcar"></span>
				<span class="clr-gray"> 
				  暂无
				</span>
        </a> 
        </li>
        <li><a href="javascript:;"><span class="neteasy"></span>
				<span class="clr-gray"> 
				  暂无
				</span>
        </a> 
        </li>
        <li><a href="javascript:;"><span class="xgo"></span>
				<span class="clr-gray"> 
				  暂无
				</span>
        </a> 
        </li>
        <li><a href="javascript:;"><span class="sohu"></span>
				<span class="clr-gray"> 
				  暂无
				</span>
        </a> 
        </li>
        </ul>
      <div class="mod_subhd">媒体文章</div>
      <div class="mtboxitem">
      <ul class="mt_box_wrap">
        <cms:article catalogAlias="mts" >
          <z:list>
            <li <z:if condition="${i%3 == 1}">class="mt_box_item ffirst"</z:if><z:elseif condition="${i%3 == 2}">class="mt_box_item"</z:elseif><z:else>class="mt_box_item fr"</z:else> >
			        <div class="mt_box_item_inner">
			            <span class="mt_hd"><div <z:if condition="${Author=='网易汽车'}">class="neteasy_black"</z:if><z:elseif condition="${Author=='易车网'}">class="biauto_black"</z:elseif><z:elseif condition="${Author=='爱卡汽车'}">class="xcar_black"</z:elseif><z:elseif condition="${Author=='汽车之家'}">class="autohome_black"</z:elseif><z:elseif condition="${Author=='搜狐汽车'}">class="sohu_black"</z:elseif><z:elseif condition="${Author=='汽车点评'}">class="xgo_black"</z:elseif><z:else>class="neteasy_black"</z:else>></div></span>
			            <span class="mt_bd">
                          <a href="${Article.SourceURL}" target="_blank"><img class="lazy" data-original="${Article.LogoFile}" width="268" height="178"/></a>
			                <a href="${Article.SourceURL}" target="_blank" title="${Article.Title}" class="mt_box_item_title">
			                     ${Article.Title}
			                </a>
			                <div class="mt_box_item_score">
			                    <div class="fl"><span class="icon-clock"></span>${Article.AddTime}</div>
			                    <div class="fr">网友评分：<b class="meiti-score">
                                  暂无
			                    </b></div>
			                </div>
			            </span>
                      
                      
			            <span <z:if condition="${Editor=='导购'}">class="shoppingguide"</z:if><z:elseif condition="${Editor=='评测'}">class="estimation"</z:elseif><z:else>class="testdrive"</z:else>></span>
		            </div>
		        </li>
        </z:list>
      </cms:article>
		        
      </ul>
      </div>
    </div>
</div>
</div>    
  </body>
</html>