<z:config type="Block" name="页面底部" />
<div class="mainsite-footer">
	<ul class="footer_link">
	    <li>
	      <a href="${Config.MainBase}/gycx/about.shtml" target="_blank">关于车享</a>
	    </li>
	    <li>
	        <a href="${Config.JoinBase}" target="_blank">加入我们</a>
	    </li>
	    <li>
	        <a href="${Config.MainBase}/gycx/contact.shtml" target="_blank">联系我们</a>
	    </li>
	    <li>
	        <a href="${Config.MainBase}/gycx/terms.shtml" target="_blank">法律声明</a>
	    </li>
	    <li>
	        <a href="${Config.MainBase}/gycx/impunity.shtml" target="_blank">免责条款</a>
	    </li>
	    <li>
	        <a href="${Config.MainBase}/gycx/privacy.shtml" target="_blank">隐私权声明</a>
	    </li>
	    <li>
	        <a href="${Config.MainBase}/gycx/agreement.shtml" target="_blank">用户服务协议</a>
	    </li>
	    <li>
	        <a href="${Config.MallBase}/help.htm?tab=tab-rights" target="_blank">会员说明</a>
	    </li>
	    <li>
	        <a href="${Config.MainBase}/gycx/carPrice.shtml" target="_blank">车享价说明</a>
	    </li>
	    <li>
	        <a href="${Config.MainBase}/feedback/suggest.htm" target="_blank" class="cmpLocation">投诉建议</a>
	    </li>

	</ul>
	<div class="foot_login_btn">
	    <a href="${Config.DealerBase}" target="_blank">经销商登录</a>
	    <a href="${Config.ChexiangpaiBase}/login/index.htm" target="_blank">二手车商户登录</a>
	</div>
	<div class="copyrightbox simplecopy">
	    <div class="copyright">
	        <div class="copyright-infor">
	            <p>CopyRight © 2013-2014, All Rights Reserved版权所有 车享</p>
	            <p>沪ICP备14000481号</p>
	        </div>
	    </div>
	</div>
</div>