.blue_radius_border {background: url('top.gif') no-repeat left top;   width:100%;height:100%;position:relative;overflow:hidden;}
.blue_radius_border .ct_bot_positionWrapper{position:absolute;bottom:0;left:0;width:100%;overflow:hidden;}
.blue_radius_border .ct_bot { padding-left: 5px; font-size: 0px; background: url('bottom.gif') no-repeat scroll 0px 100%; overflow: hidden; height: 5px; }
.blue_radius_border .ct_bot .ct_bot_bg { font-size: 0px; background: url('bottom.gif') no-repeat scroll 100% 100% ; overflow: hidden; height: 5px; }
.blue_radius_border .ct_cont {height:100%; position:relative; padding: 5px 0px 0px 0px; margin-left:5px; background:url('top.gif') no-repeat right top; }
.blue_radius_border .ct_cont .ct_cont_bg { height:100%; padding: 0px 5px;  border-left:3px solid #a7d2f5; padding-top:5px; margin-left:-5px; border-right:3px solid #a7d2f5; }
.blue_radius_border .ct_cont_box { padding-left:6px;  }
.blue_radius_border .ct_contBox { clear: both; overflow: hidden; }
.blue_radius_border .ct_t_01 { padding: 6px 0px 4px; }
.blue_radius_border UL { list-style-type: none; padding: 0px; margin: 0px; }
.blue_radius_border LI { padding: 0px; margin: 0px; }
.blue_radius_border .ct_t_01 LI { font-size: 14px; line-height: 23px; }
.blue_radius_border A { color: rgb(0, 0, 0); text-decoration: underline; }
.blue_radius_border A { color: rgb(0, 0, 0); text-decoration: none; }
.blue_radius_border .ct_t_04 .ct_line { background: url('bg_mj_002.gif') repeat-x scroll 0px 0px transparent; margin: 6px 4px 0px; overflow: hidden; height: 1px; }
.blue_radius_border H1 { padding: 0px; margin: 0px; }
.blue_radius_border .ct_t_04 H1 { font-weight: normal; font-size: 20px; color: rgb(204, 46, 47); line-height: 38px; font-family: "ºÚÌå"; text-align: center; }
.blue_radius_border .ct_t_04 H1 A:link { color: rgb(204, 46, 47); text-decoration: none; }
