.bg_change { background: none repeat scroll 0% 0% rgb(255, 255, 255); width:100%;height:100%;position:relative;overflow:hidden;}
.bg_change .ct_bot {font-size: 0px; background:#EDF7F8;   overflow: hidden; height: 5px;position:absolute;bottom:0;left:0;width:100%; }
.bg_change .ct_bot .ct_bot_bg { font-size: 0px;  overflow: hidden; height: 5px; border:1px solid #A5DFE8; border-top:none;}
.bg_change .ct_cont { padding: 4px 4px 0px 4px;  border:2px solid #FEFBFB; background:url('s01_mj_006.gif') repeat-x left bottom; height:100%; }
.bg_change .ct_cont .ct_cont_bg { padding: 0px 5px; }
.bg_change .ct_contBox { clear: both; overflow: hidden; }
.bg_change .ct_t_01 { padding: 6px 0px 4px; }
.bg_change UL { list-style-type: none; padding: 0px; margin: 0px;}
.bg_change LI { padding: 0px; margin: 0px; }
.bg_change .ct_t_01 LI { font-size: 14px; line-height: 23px; }
.bg_change .ct_t_04 .ct_line { margin: 6px 4px 0px; overflow: hidden; height: 1px; }
.bg_change H1 { padding: 0px; margin: 0px; }
.bg_change .ct_t_04 H1 { font-weight: normal; font-size: 14px; color: rgb(204, 46, 47); line-height: 30px; text-align: left; padding-left:16px; font-weight:bold; }
.bg_change .ct_t_04 H1 A:link { color:#000000; text-decoration: none; }
.bg_change .ct_memo{ padding:0px; margin:0px; color:#525252; line-height:1.8; text-indent:2em; font-size:12px; }
