<z:config type="Block" name="购车区块" />
<!-- 现金购车 -->
<div class="hmode-white">
	<div class="home-cash">
		<div class="modle-title">
			<h2>
				现金购车
				<span class="h2-info">买放心车，选车享特供</span>
			</h2>
			<a href="/list/xj-0-0-0-0-0-0-0-0-1-1.html" title="查看更多" target="_blank" class="more">查看更多&nbsp;<span class="more-s">></span></a>
		</div>
		<div class="home-cash-content clearfix">
			<div class="home-cash-l">
				<ul class="minSlid-ul home-cash-l-ul">
					<cms:imagegroup name="现金购车">
						<z:list>
						<cms:image>
						<z:list>
							<z:if condition="${Image.Author=='big'}">
							<li class="cul"><a href="${Image.SourceURL}" target="_blank"><img src="${Image.ImagePath}" alt="${Image.Name}" width="595" height="467"/></a></li>
							</z:if>
						</z:list>
						</cms:image>
						</z:list>
					</cms:imagegroup>
				</ul>
			</div>
			<div class="home-cash-r">
				<cms:imagegroup name="现金购车">
				<z:list>
				<cms:image>
				<ul class="home-cash-ul home-r-ul">
				 <z:list count="5">
				 	<z:if condition="${Image.Author!='big'}">
				  	<li class="only-img">
						<a href="${Image.SourceURL}" target="_blank"><img src="${Image.ImagePath}" alt="${Image.Name}" width="292" height="233"/></a>
					</li>
				  	</z:if>
				 </z:list>
				</ul>
				</cms:image>
				</z:list>
				</cms:imagegroup>
			</div>
			
		</div>
	</div>
</div>
<!-- 现金购车  End -->

<!-- 分期购车 -->
<div class="hmode-gray">
	<div class="home-staging">
		<div class="modle-title">
			<h2>
				分期购车
				<span class="h2-info">买放心车，选车享特供</span>
			</h2>
			<a href="/list/fq-0-0-0-0-0-0-0-0-1-1.html" title="查看更多" target="_blank" class="more">查看更多&nbsp;<span class="more-s">></span></a>
		</div>
		<div class="home-staging-content clearfix">
			<div class="home-staging-l">
				<ul class="minSlid-ul home-staging-l-ul">
					<cms:imagegroup name="分期购车">
						<z:list>
						<cms:image>
						<z:list>
							<z:if condition="${Image.Author=='big'}">
							<li class="cul"><a href="${Image.SourceURL}" target="_blank"><img src="${Image.ImagePath}" alt="${Image.Name}" width="595" height="477"/></a></li>
							</z:if>
						</z:list>
						</cms:image>
						</z:list>
					</cms:imagegroup>
				</ul>
				<!-- <a href="javascript:void(0)" class="btn-min-l btn-staging-l"></a>
				<a href="javascript:void(0)" class="btn-min-r btn-staging-r"></a> -->
			</div>
			<div class="home-staging-r">
				<cms:imagegroup name="分期购车">
				<z:list>
				<cms:image>
				<ul class="home-staging-ul home-r-ul">
				 <z:list count="5">
				 	<z:if condition="${Image.Author!='big'}">
				  	<li class="only-img">
						<a href="${Image.SourceURL}" target="_blank"><img src="${Image.ImagePath}" alt="${Image.Name}" width="292" height="233"/></a>
					</li>
				  	</z:if>
				 </z:list>
				</ul>
				</cms:image>
				</z:list>
				</cms:imagegroup>
			</div>
		</div>
	</div>
</div> 
<!-- 分期购车 End -->