<z:config type="Block" name="页尾" />
<div class="footer">
	<div class="footer-main clearfix">
		<div class="footer-intro">
			<dl class="footer-item">
				<dt>新手入门</dt>
				<dd><a href="/help/about.shtml" target="_blank">关于我们</a></dd>
				<dd><a href="/help/quality.shtml" target="_blank">品质保障</a></dd>
				<dd><a href="/help/licence.shtml" target="_blank">购车协议</a></dd>
				<dd><a href="/help/falv.shtml" target="_blank">法律声明</a></dd>
			</dl>
			<dl class="footer-item">
				<dt>购车指南</dt>
				<dd><a href="/help/guide.shtml" target="_blank">购车流程</a></dd>	
              	<dd><a href="/help/pay.shtml" target="_blank">支付方式</a></dd>
              	<dd><a href="/help/invoice.shtml" target="_blank">发票说明</a></dd>
              	<dd><a href="/help/order.shtml" target="_blank">订单查询</a></dd>
			</dl>
			<dl class="footer-item">
				<dt>帮助中心</dt>
              	<dd><a href="/help/faq.shtml" target="_blank">常见问题</a></dd>
              	<dd><a href="/sitemap.htm" target="_blank">Sitemap</a></dd>
				<dd><a target="_blank" href="http://www.chexiang.com/gycx/terms.shtml">法律声明</a></dd>
				<dd><a target="_blank" href="http://www.chexiang.com/gycx/impunity.shtml">免责条款</a></dd>
				<dd><a target="_blank" href="http://www.chexiang.com/gycx/privacy.shtml">隐私权声明</a></dd>
			</dl>
			<dl class="footer-item">
				<dt>联系我们</dt>
				<dd>客服热线</dd>
				<dd>
					<p class="tel">4008 020 666</p>
				</dd>
              	<dd>周一至周日 9:00-21:00</dd>
            </dl>
			<div class="footer-side">
				<div class="ercode-box clearfix">
					<span title="微信订阅号"><img class="weixin-img" src="${surl('resource/images/mall/public/ercode.png')}" alt="微信订阅号" width="120" height="120"></span>
					<dl class="weixin-info">
					<dt>微信订阅号</dt>
					<dd class="weixinhao">chexiangV</dd>
					<dd class="desc">
						<p>扫描二维码关注车享官方账号</p>
						<p>还有劲爆优惠等你来拿!</p>
					</dd>
					</dl>
				</div>
				<div class="btn-area">
					<a class="a-btn" href="http://dealer.chexiang.com" target="_blanks">经销商登录<i></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-sub">
		<p class="copyright">CopyRight &copy; 2014-2015, All Rights Reserved 版权所有 车享     沪ICP备14000481号</p>
		<p class="friend-link">	
			<a href="http://www.roewe.com.cn/" target="_blank">荣威品牌官网</a>
			<a href="http://www.saicmg.com/" target="_blank">MG品牌官网</a>
			<a href="http://www.buick.com.cn/" target="_blank">别克品牌官网</a>
			<a href="http://www.chevrolet.com.cn/" target="_blank">雪佛兰品牌官网</a>
			<a href="http://www.cadillac.com.cn/" target="_blank">凯迪拉克品牌官网</a>
			<a href="http://www.svw-volkswagen.com/zh.html" target="_blank">上海大众品牌官网</a>
			<a href="http://www.skoda.com.cn/" target="_blank">上海大众斯柯达品牌官网</a>
			<a href="http://www.sgmw.com.cn/" target="_blank">五菱品牌官网</a>
			<a href="http://www.autobaojun.com/" target="_blank">宝骏品牌官网</a>
			<a href="http://www.saicmaxus.com/" target="_blank">大通品牌官网</a>
			<a href="http://auto.iqiyi.com/" target="_blank">爱奇艺汽车</a>		
		</p>
	</div>
</div>