<z:config type = "ArticleList" name = "豆腐块"/>
<dl class="car-detail car-detail2">
    <dd class="img-box">
        <a title="全新晶锐" target="_blank" href="http://www.chexiang.com/car/skoda/series_107/home.htm">
            <img class="lazy"  data-original="images/mall/home/carImg.jpg" alt="全新晶锐" height="180" width="270"/>
        </a>
        <div class="img-lab">
            <span class="lab-zj lab-red">直降<br/>7200</span>
        </div>
        <span class="carnumber">已售:55辆</span>
    </dd>
    <dt class="name-box">
        <a class="name-text" href="" title="科帕奇 2014款 2.4L 7座城市版">科帕奇 2014款 2.4L 7座城市版</a>
    </dt>
    <dd class="info-box">
        <strong>￥23.56元</strong>
        <div class="discount discount-green" tooltip='车的价格加服务价格'>上路价</div>
        <i>￥25.82元</i>
    </dd>
    <dd class="caption-box" title="适合居家过日子的全能SUV，历史底价抢购中">
        适合居家过日子的全能SUV，历史底价抢购中
    </dd>
</dl>