<z:config type="Block" name="链接" />
<div class="home-nav-list">
	<div class="nav-title">
		品牌
	</div>
	<div class="nav-content">
		<cms:article name="品牌"  loadcontent="true">
			${(article.content)}
		</cms:article>
	</div>
</div>
<div class="home-nav-list">
	<div class="nav-title">
		级别
	</div>
	<div class="nav-content">
	    <cms:article name="级别"  loadcontent="true">
			${(article.content)}
		</cms:article>
	</div>
</div>
<div class="home-nav-list list-end">
	<div class="nav-title">
		落地价
	</div>
	<div class="nav-content">
	    <cms:article name="落地价"  loadcontent="true">
			${(article.content)}
		</cms:article>
	</div>
</div>