.green_title_bg_border { background: none repeat scroll 0% 0% rgb(255, 255, 255);  width:100%;height:100%;position:relative;overflow:hidden;}
.green_title_bg_border .ct_bot_positionWrapper{position:absolute;bottom:0;left:0;width:100%;overflow:hidden;}
.green_title_bg_border .ct_bot { padding-left: 5px; font-size: 0px; background:#E6ECE8; border:1px solid #B4C7C3; border-top:none; overflow: hidden; height: 5px; }
.green_title_bg_border .ct_bot .ct_bot_bg { font-size: 0px; overflow: hidden; height: 5px; }
.green_title_bg_border .ct_cont {height:100%; position:relative; background:#E6ECE8; border-left:1px solid #B4C7C3; padding: 0px 4px;  border-right:1px solid #B4C7C3; }
.green_title_bg_border .ct_contBox { clear: both; overflow: hidden; }
.green_title_bg_border .ct_t_01 { padding: 6px 0px 4px; }
.green_title_bg_border UL {padding: 0px; margin: 0px; list-style-type: none; }
.green_title_bg_border LI { padding: 0px; margin: 0px; }
.green_title_bg_border .ct_list_009 LI { padding-left: 1em; background: url('unfcn_mj_01.gif') no-repeat scroll 5px 50% transparent; }
.green_title_bg_border .ct_t_01 LI { font-size: 14px; line-height: 23px; }
.green_title_bg_border .ct_datetime { padding-left: 5px; font-size: 0.85em; color: rgb(153, 153, 153); line-height: 1.6em; }
.green_title_bg_border A { color: rgb(0, 0, 0); text-decoration: none; }
.green_title_bg_border .ct_list_009 li a{ color:#000000}
.green_title_bg_border H2 { padding: 0px; margin: 0px; }
.green_title_bg_border .ct_title { font-weight: normal; background: url('z_cl_001.gif') repeat-x left top #eeeeee; overflow: hidden; color:#C20E02; border-right: 1px solid #ABCEB6; border-left: 1px solid #ABCEB6; height: 26px; }
.green_title_bg_border .ct_title .ct_more { font-family:SIMSUN; padding-right: 10px; font-weight: normal; font-size: 12px;  float: right; line-height: 26px; height: 26px; }
.green_title_bg_border .ct_title A:link { color:#007F2E; text-decoration: none; }
.green_title_bg_border .ct_title .ct_name { padding-left: 12px; font-size: 14px; float: left; overflow: hidden; line-height: 26px; white-space: nowrap; height: 26px; overflow: hidden; color: #007F2E; }
