<z:config type="ArticleList" name="文章列表页模板" />
<?xml version="1.0" encoding="utf-8" ?> 
<rss version="2.0">
<channel>
  <title>${Catalog.Name}</title> 
<image>
  <title>${Catalog.Name}</title> 
  <link>${Site.Url}/${Catalog.Path}</link> 
  <url>${Site.Url}/${Catalog.LogoFile}</url> 
</image>
<description>${Catalog.Name}</description> 
<link>${Site.Url}/${Catalog.Path}</link> 
<language>zh-cn</language> 
<generator>${Site.Url}</generator> 
<copyright>opyright(C) 泽元新闻网 2007-2008    All Rights Reserved. 京ICP备06024929号 </copyright> 
<pubDate>${format(PublishDate,'yyyy-MM-dd')}</pubDate> 
<item>
		<title>${Article.Title}</title> 
		<link>${Site.Url}/${Article.Path}</link>
		<author>${Article.Author}</author> 
		<guid>${Site.Url}/${Article.Path}</guid> 
		<category>${Catalog.Name}</category> 
		<pubDate>${format(Article.PublishDate,'yyyy-MM-dd')}</pubDate> 
		<description>${charWidth(Article.Summary,20)}</description> 
		<content type="html"><![CDATA[${(Article.Content)}]]></content> 
</item>
</channel>
</rss>
