.red_title_bg__radius_border { background: none repeat scroll 0% 0% rgb(255, 255, 255);  width:100%;height:100%;position:relative;overflow:hidden;}
.red_title_bg__radius_border .ct_bot_positionWrapper{position:absolute;bottom:0;left:0;width:100%;overflow:hidden;}
.red_title_bg__radius_border .ct_bot { padding-left: 5px; font-size: 0px; background:#CB3600; border-bottom:1px solid #CC4901; overflow: hidden; height: 4px; }
.red_title_bg__radius_border .ct_bot .ct_bot_bg { font-size: 0px;overflow: hidden; height:4px; }
.red_title_bg__radius_border .ct_cont {height:100%; position:relative;  padding:0px 4px 0px 4px; background:#CB3600; border-left:1px solid #CC4901; border-right:1px solid #CC4901;}
.red_title_bg__radius_border .ct_cont .ct_cont_bg {height:100%; background:#ffffff;  }
.red_title_bg__radius_border .ct_contBox { clear: both; overflow: hidden; }
.red_title_bg__radius_border .ct_t_01 { padding: 6px 0px 4px; }
.red_title_bg__radius_border UL { list-style-type: none;  padding: 0px; margin: 0px;}
.red_title_bg__radius_border LI { padding: 0px; margin: 0px; }
.red_title_bg__radius_border .ct_list_009 LI { padding-left: 1em; background: url('unfcn_mj_01.gif') no-repeat scroll 5px 50% transparent; }
.red_title_bg__radius_border .ct_t_01 LI { font-size: 14px; line-height: 23px; }
.red_title_bg__radius_border .ct_datetime { padding-left: 5px; font-size: 0.85em; color: rgb(153, 153, 153); line-height: 1.6em; }
.red_title_bg__radius_border A { color: rgb(0, 0, 0); text-decoration: none; }
.red_title_bg__radius_border H2 { padding: 0px; margin: 0px; }
.red_title_bg__radius_border .ct_title {font-weight: normal; background: url('s43_mj_004.gif') repeat-x scroll 0% 0% transparent; overflow: hidden; color: rgb(255, 255, 255); border:1px solid #CC4901; border-bottom:none; height: 25px; }
.red_title_bg__radius_border .ct_title .ct_more { font-family:SIMSUN; padding-right: 10px; font-weight: normal; font-size: 12px; float: right; line-height: 25px; height: 25px; }
.red_title_bg__radius_border .ct_title A:link { color: rgb(0, 0, 0); text-decoration: none; }
.red_title_bg__radius_border .ct_title A:link { color: rgb(255, 255, 255); }
.red_title_bg__radius_border .ct_title .ct_name { padding-left: 30px; font-size: 14px; float: left; overflow: hidden; line-height: 25px; white-space: nowrap; height: 25px;  background: url('s43_mj_004.gif') no-repeat scroll 15px -25px transparent; }
