<z:config type="ArticleDetail" name="宝盒导航" />
<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
	<head>
		<meta http-equiv="Content-Type">
		<meta content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<title>车享,车享网,车享网平台,车享平台,上汽电商</title>		
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="description" content="车享"/>
		<meta name="keywords" content="车享宝盒"/>
		<link rel="stylesheet" type="text/css" href="../resource/baohe/css/index.css" />
	</head>
	<body class="page-nav" ontouchstart="">
      <a href="${mainBase}/box/sms/nav/nav.shtml"><i class="i-list"></i></a>
			<nav class="nav">
              <a href="${mainBase}/box/sms/specs.shtml#page-1-1">源起</a>
              <a href="${mainBase}/box/sms/specs.shtml#page-3-1">进化指南</a>
              <a href="${mainBase}/box/sms/specs.shtml#page-5-1">进阶篇</a>
              <a href="${mainBase}/box/sms/specs.shtml#page-6-1">创造篇</a>
              <a href="${mainBase}/box/sms/specs.shtml#page-7-1">待续篇</a>
			</nav>
<script>
	var _cxProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(decodeURIComponent("%3Cscript src='" + _cxProtocol + "data.chexiang.com/js/cx_analytics.js?t=" + new Date().getTime() + "&type=' id='analyticsScript' type='text/javascript'%3E" + "%3C/script%3E"));
	
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?37cf568cd7cc8e164f8cb43c8223cea7";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
	</body>
</html>
