.grey_title_bg_radius_border { background: none repeat scroll 0% 0% rgb(255, 255, 255);  width:100%;height:100%;position:relative;overflow:hidden;}
.grey_title_bg_radius_border .ct_bot_positionWrapper{position:absolute;bottom:0;left:0;width:100%;overflow:hidden;}
.grey_title_bg_radius_border .ct_bot { padding-left: 5px; font-size: 0px;  border:1px solid #DEDEDE; border-top:none; overflow: hidden; height: 5px; }
.grey_title_bg_radius_border .ct_bot .ct_bot_bg { font-size: 0px; overflow: hidden; height: 5px; }
.grey_title_bg_radius_border .ct_cont {height:100%; position:relative; padding: 0px 4px; border:1px solid #DEDEDE; border-bottom:none; border-top:none; }
.grey_title_bg_radius_border .ct_contBox { clear: both; overflow: hidden; }
.grey_title_bg_radius_border .ct_t_01 { padding: 6px 0px 4px; }
.grey_title_bg_radius_border UL {padding: 0px; margin: 0px; list-style-type: none; }
.grey_title_bg_radius_border LI { padding: 0px; margin: 0px; }
.grey_title_bg_radius_border .ct_t_01 LI { font-size: 14px; line-height: 23px; }
.grey_title_bg_radius_border .ct_datetime { padding-left: 5px; font-size: 0.85em; color: rgb(153, 153, 153); line-height: 1.6em; }
.grey_title_bg_radius_border A { color: rgb(0, 0, 0); text-decoration: none; }
.grey_title_bg_radius_border .ct_list_009 LI { padding-left: 1em; background: url('unfcn_mj_01.gif') no-repeat scroll 5px 50% transparent; }
.grey_title_bg_radius_border .ct_t_01 li a{color:#000000; text-decoration: none;}
.grey_title_bg_radius_border H2 { padding: 0px; margin: 0px; }
.grey_title_bg_radius_border .ct_title { font-weight: normal; background: #747474; font-weight:bold; overflow: hidden; color: rgb(255, 255, 255); height: 28px; }
.grey_title_bg_radius_border .ct_title .ct_more { font-family:SIMSUN; padding-right: 10px; font-weight: normal; font-size: 12px; float: right; line-height: 28px; height: 28px; background:url('more2.gif') no-repeat right top; }
.grey_title_bg_radius_border .ct_title A:link { color:#ffffff; text-decoration: none; }
.grey_title_bg_radius_border .ct_title .ct_name { padding-left: 30px; font-size: 14px; float: left; overflow: hidden; line-height: 28px; white-space: nowrap; height: 28px;  background: url('title2.gif') no-repeat left top;}
 