/* extend */

//$common:sprite-map("common/*.png",$spacing:5px,$layout: diagonal);
$skin:sprite-map("skin/*.png",$spacing:5px);
%commonMaps {
    background-image:$skin;
    background-repeat: no-repeat;
}