<z:config type="Block" name="Common Footer Template" />
<div id="footer" class="footer">
  <div class="line_red pagewidth"></div>
  <div class="pagewidth" style="text-align:center; padding:20px 0 5px;"><a href="#">Advertising services</a> | <a href="#">recruitment </a> | <a href="#">privacy policy</a> | <a href="#">disclaimer</a> | <a href="#">feedback</a></div>
  <div class="pagewidth" style="text-align:center; padding:5px 0 40px;">Copyright(C) Zving News 2007-2008    All Rights Reserved.<br>
    Tel：010-82895509 E-mail:office@zving.com</div>
</div>
<!-- end div#footer.footer-->
