.grey_bg_border { width:100%;height:100%;position:relative;overflow:hidden;}
.grey_bg_border .ct_bot_positionWrapper{position:absolute;bottom:0;left:0;width:100%;overflow:hidden;}
.grey_bg_border .ct_bot { padding-left: 5px; font-size: 0px; overflow: hidden; height: 5px; background: #FAFAFA; border:1px solid #DEDEDE; border-top:none;}
.grey_bg_border .ct_bot .ct_bot_bg { font-size: 0px;  overflow: hidden; height: 5px; }
.grey_bg_border .ct_cont {height:100%; padding: 5px 0px 0px; background: #FAFAFA; border:1px solid #DEDEDE; border-bottom:none; }
.grey_bg_border .ct_cont .ct_cont_bg {  padding: 0px 5px; position: relative; }
.grey_bg_border .ct_contBox { clear: both; overflow: hidden; }
.grey_bg_border .ct_t_01 { padding: 6px 0px 4px; }
.grey_bg_border UL { list-style-type: none; padding: 0px; margin: 0px; }
.grey_bg_border LI { padding: 0px; margin: 0px; }
.grey_bg_border .ct_t_01 LI { font-size: 14px; line-height: 23px; }
.grey_bg_border .ct_list_009 LI { padding-left: 1em; background: url('unfcn_mj_01.gif') no-repeat scroll 5px 50% transparent; }
.grey_bg_border A { color: rgb(0, 0, 0); text-decoration: none; }
.grey_bg_border .ct_t_01 li a{color: rgb(0, 0, 0); text-decoration: none;}
.grey_bg_border .ct_t_04 .ct_line { background: url('bg_mj_002.gif') repeat-x scroll 0px 0px transparent; margin: 6px 4px 0px; overflow: hidden; height: 1px; }
.grey_bg_border H1 { padding: 0px; margin: 0px; }
.grey_bg_border .ct_t_04 H1 { font-weight: normal; font-size: 20px; color: rgb(204, 46, 47); line-height: 32px; font-family: "黑体"; text-align: center; }
.grey_bg_border .ct_t_04 H1 A:link { color: rgb(204, 46, 47); text-decoration: none; }
