/* index.css
 * Created: 2015-03-30
 * Update: 2015-03-30
 * Author: Amanda
 */
/* extend */
/* line 5, ../_source/components/_extend.scss */
.topnav-main .city-hd .icon-map, .topnav-main .city-hd:hover .icon-map, .topnav-main .city-cur .icon-map, .topnav-main .weixin-hd .icon-bao, .topnav-main .weixin-hd:hover .icon-bao, .topnav-main .weixin-cur .icon-bao, .footer-side .btn-area i {
  background-image: url('../img/global-se93eb3c8a3.png');
  background-repeat: no-repeat;
}

/* line 2, ../_source/components/_common.scss */
.topnav, .footer-intro, .footer-side .ercode-box {
  *zoom: 1;
}
/* line 3, ../_source/components/_common.scss */
.topnav:after, .footer-intro:after, .footer-side .ercode-box:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
}

/* line 15, ../_source/components/_common.scss */
.topnav-wrapper, .footer-main, .footer-sub {
  min-width: 1190px;
  width: 100%;
}

/* line 20, ../_source/components/_common.scss */
.container, .topnav, .footer-intro, .friend-link {
  width: 1190px;
  margin: 0 auto;
}

/* line 38, ../_source/components/_common.scss */
[placeholder]:-webkit-input-placeholder {
  color: #999;
}

/* line 39, ../_source/components/_common.scss */
[placeholder]:-ms-input-placeholder {
  color: #999;
}

/* line 40, ../_source/components/_common.scss */
[placeholder]:-moz-placeholder {
  color: #999;
}

/* line 41, ../_source/components/_common.scss */
[placeholder]:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* line 42, ../_source/components/_common.scss */
[placeholder]:focus::-moz-placeholder {
  opacity: 0;
}

/* line 43, ../_source/components/_common.scss */
::-ms-clear {
  display: none;
}

/* line 44, ../_source/components/_common.scss */
.placeholdersjs {
  color: #999;
}

/* line 46, ../_source/components/_common.scss */
body {
  background-color: #f2f0f0;
  font: 12px/1.5 "Helvetica Neue", Arial, "Heiti SC", "Microsoft YaHei", SimSun;
  color: #333;
}

/* line 51, ../_source/components/_common.scss */
a {
  outline: none;
  color: #999;
}
/* line 54, ../_source/components/_common.scss */
a:hover {
  color: #f60;
  text-decoration: underline;
}

/* line 2, ../_source/components/_topnav.scss */
.topnav-wrapper {
  position: relative;
  z-index: 10;
  height: 34px;
  background-color: #fafafa;
  border-bottom: 1px solid #dfdfdf;
}

/* line 13, ../_source/components/_topnav.scss */
.topnav a {
  color: #666;
}
/* line 15, ../_source/components/_topnav.scss */
.topnav a:hover {
  color: #f60;
}
/* line 19, ../_source/components/_topnav.scss */
.topnav .line {
  margin: 10px 4px 0;
  width: 1px;
  height: 14px;
  background-color: #ccc;
  overflow: hidden;
}

/* line 36, ../_source/components/_topnav.scss */
.topnav-main .weixin-cur {
  position: relative;
  z-index: 3;
  background-color: #fff;
  border-color: #d2d2d2;
  color: #666;
}

/* line 44, ../_source/components/_topnav.scss */
.topnav-main .city-bd {
  display: none;
  position: absolute;
  left: 0;
  top: 34px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #d2d2d2;
}

/* line 53, ../_source/components/_topnav.scss */
.topnav-main {
  float: left;
  color: #999;
}
/* line 56, ../_source/components/_topnav.scss */
.topnav-main li {
  float: left;
  position: relative;
}
/* line 60, ../_source/components/_topnav.scss */
.topnav-main .city-hd {
  float: left;
  padding: 0 6px 0 5px;
  color: #666;
  line-height: 35px;
  cursor: pointer;
}
/* line 67, ../_source/components/_topnav.scss */
.topnav-main .city-hd .icon-map {
  float: left;
  margin: 9px 5px 0 0;
  width: 13px;
  height: 15px;
  background-position: 0 -77px;
}
/* line 72, ../_source/components/_topnav.scss */
.topnav-main .city-hd:hover {
  color: #f60;
  text-decoration: underline;
}
/* line 75, ../_source/components/_topnav.scss */
.topnav-main .city-hd:hover .icon-map {
  width: 13px;
  height: 15px;
  background-position: 0 -57px;
}
/* line 80, ../_source/components/_topnav.scss */
.topnav-main .city-cur {
  position: relative;
  z-index: 3;
  padding: 0 5px 0 4px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-width: 0 1px;
  color: #666;
}
/* line 89, ../_source/components/_topnav.scss */
.topnav-main .city-cur:hover {
  color: #666;
  text-decoration: none;
}
/* line 93, ../_source/components/_topnav.scss */
.topnav-main .city-cur .icon-map {
  width: 13px;
  height: 15px;
  background-position: 0 -57px;
}
/* line 97, ../_source/components/_topnav.scss */
.topnav-main .city-bd {
  width: 420px;
  height: 150px;
  padding: 10px 0 0 5px;
}
/* line 103, ../_source/components/_topnav.scss */
.topnav-main .city-name {
  float: left;
  width: 60px;
  height: 30px;
  color: #666;
  cursor: pointer;
}
/* line 109, ../_source/components/_topnav.scss */
.topnav-main .city-name span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 5px;
  line-height: 18px;
}
/* line 115, ../_source/components/_topnav.scss */
.topnav-main .city-name:hover span {
  background-color: #03a9f4;
  color: #fff;
  text-decoration: none;
}
/* line 123, ../_source/components/_topnav.scss */
.topnav-main .weixin-hd {
  float: left;
  width: 94px;
  padding-left: 4px;
  color: #666;
  line-height: 35px;
  cursor: pointer;
}
/* line 136, ../_source/components/_topnav.scss */
.topnav-main .weixin-hd .icon-bao {
  float: left;
  margin: 9px 10px 0 0;
  width: 16px;
  height: 16px;
  background-position: 0 -21px;
}
/* line 141, ../_source/components/_topnav.scss */
.topnav-main .weixin-hd:hover {
  color: #f60;
  text-decoration: underline;
}
/* line 147, ../_source/components/_topnav.scss */
.topnav-main .weixin-hd:hover .icon-bao {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}
/* line 154, ../_source/components/_topnav.scss */
.topnav-main .weixin-cur:hover {
  color: #666;
  text-decoration: none;
}
/* line 161, ../_source/components/_topnav.scss */
.topnav-main .weixin-cur .icon-bao {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}

/* line 176, ../_source/components/_topnav.scss */
.topnav-side {
  float: right;
}
/* line 178, ../_source/components/_topnav.scss */
.topnav-side li {
  position: relative;
  float: left;
  line-height: 35px;
  color: #666;
}
/* line 183, ../_source/components/_topnav.scss */
.topnav-side li a {
  margin: 0 6px;
  color: #666;
}
/* line 188, ../_source/components/_topnav.scss */
.topnav-side .name {
  padding-right: 6px;
}
/* line 192, ../_source/components/_topnav.scss */
.topnav-side .last a {
  margin-right: 0;
}
/* line 196, ../_source/components/_topnav.scss */
.topnav-side .line {
  margin: 10px 6px 0;
}
/* line 199, ../_source/components/_topnav.scss */
.topnav-side .user-hd {
  float: left;
  color: #666;
  line-height: 35px;
  cursor: pointer;
  width: 71px;
  padding-left: 11px;
}
/* line 207, ../_source/components/_topnav.scss */
.topnav-side .user-hd a {
  margin: 0;
}
/* line 211, ../_source/components/_topnav.scss */
.topnav-side .user-cur {
  position: relative;
  z-index: 3;
  width: 70px;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-width: 0 1px;
  color: #666;
}
/* line 222, ../_source/components/_topnav.scss */
.topnav-side .group {
  display: none;
  position: absolute;
  left: 0;
  top: 34px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
}
/* line 230, ../_source/components/_topnav.scss */
.topnav-side .group a {
  display: block;
  width: 94px;
  height: 24px;
  margin: 0;
  padding: 0 0 0 10px;
  line-height: 24px;
}
/* line 239, ../_source/components/_topnav.scss */
.topnav-side .hidden-num {
  visibility: hidden;
}
/* line 242, ../_source/components/_topnav.scss */
.topnav-side .msg-num {
  position: absolute;
  right: 3px;
  top: 4px;
  height: 10px;
  padding: 2px 4px;
  background-color: #03a9f4;
  border-radius: 10px;
  color: #fff;
  font: 9px/10px simsun;
  -webkit-transform: scale(0.8);
}
/* line 254, ../_source/components/_topnav.scss */
.topnav-side .checkin-account {
  width: 40px;
  height: 34px;
  text-align: center;
}
/* line 259, ../_source/components/_topnav.scss */
.topnav-side .add-score {
  display: none;
  position: absolute;
  top: 0;
  left: -2px;
  color: #00C853;
  font-size: 14px;
  white-space: nowrap;
}
/* line 268, ../_source/components/_topnav.scss */
.topnav-side .marked-sucess {
  display: none;
}

/* line 2, ../_source/components/_footer.scss */
.footer-side .a-btn, .footer-side .a-btn-b {
  float: left;
  height: 30px;
  background-color: #03a9f4;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}
/* line 9, ../_source/components/_footer.scss */
.footer-side .a-btn:hover, .footer-side .a-btn-b:hover {
  background-color: #73B5FB;
  text-decoration: none;
}

/* line 14, ../_source/components/_footer.scss */
.footer-main {
  height: 200px;
  background-color: #333;
}
/* line 18, ../_source/components/_footer.scss */
.footer-main a {
  color: #666;
}
/* line 20, ../_source/components/_footer.scss */
.footer-main a:hover {
  color: #f60;
}

/* line 25, ../_source/components/_footer.scss */
.footer-intro {
  padding-top: 10px;
}

/* line 30, ../_source/components/_footer.scss */
.footer-item {
  float: left;
  width: 200px;
  line-height: 24px;
  color: #666;
}
/* line 35, ../_source/components/_footer.scss */
.footer-item dt {
  padding: 5px 0 10px;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
}
/* line 41, ../_source/components/_footer.scss */
.footer-item .tel {
  font-size: 14px;
  font-weight: 700;
  color: #999;
}

/* line 47, ../_source/components/_footer.scss */
.footer-side {
  float: right;
  width: 350px;
}
/* line 50, ../_source/components/_footer.scss */
.footer-side .ercode-box {
  padding-top: 10px;
  margin-bottom: 10px;
}
/* line 55, ../_source/components/_footer.scss */
.footer-side .weixin-img {
  float: left;
  width: 120px;
  margin-right: 10px;
}
/* line 60, ../_source/components/_footer.scss */
.footer-side .weixin-info {
  float: left;
  position: relative;
  width: 220px;
  height: 120px;
}
/* line 65, ../_source/components/_footer.scss */
.footer-side .weixin-info dt {
  margin: -2px 0 10px;
  font-size: 16px;
  color: #fff;
}
/* line 70, ../_source/components/_footer.scss */
.footer-side .weixin-info .weixinhao {
  font-size: 18px;
  font-weight: 700;
  color: #ccc;
}
/* line 75, ../_source/components/_footer.scss */
.footer-side .weixin-info .desc {
  position: absolute;
  bottom: 0;
  line-height: 18px;
  color: #999;
}
/* line 83, ../_source/components/_footer.scss */
.footer-side .btn-area a {
  color: #fff;
}
/* line 85, ../_source/components/_footer.scss */
.footer-side .btn-area a:hover {
  color: #fff;
}
/* line 89, ../_source/components/_footer.scss */
.footer-side .btn-area i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 6px;
  height: 10px;
  margin-left: 5px;
  width: 6px;
  height: 10px;
  background-position: 0 -42px;
}
/* line 97, ../_source/components/_footer.scss */
.footer-side .a-btn {
  width: 120px;
  margin-right: 10px;
}
/* line 102, ../_source/components/_footer.scss */
.footer-side .a-btn-b {
  width: 145px;
}

/* line 108, ../_source/components/_footer.scss */
.footer-sub {
  padding: 30px 0;
  background-color: #fff;
  line-height: 20px;
  color: #ccc;
}
/* line 114, ../_source/components/_footer.scss */
.footer-sub a {
  color: #ccc;
}
/* line 116, ../_source/components/_footer.scss */
.footer-sub a:hover {
  color: #f60;
}

/* line 121, ../_source/components/_footer.scss */
.copyright {
  text-align: center;
}

/* line 126, ../_source/components/_footer.scss */
.friend-link a {
  margin-right: 25px;
}
