<z:config type="DimensionContentList" name="内容列表页模板" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${Site.Name}-${Catalog.Name}</title>
<cms:include file="include.template.html"></cms:include>
<link href="../css/page.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- 页头开始 -->
<cms:include file="dimheaderblock2.template.html" ssi="false">{ZCMS:文件包含}</cms:include>
<!-- 页头结束 -->

<!-- 主体开始 -->
<div class="main cata_main pageWidth clearself">

<!-- 第一块开始 -->
<div class="blockboxB blockboxnobg clearself">
<!-- 第一块左侧开始 -->
<div class="newslist_left clearself fl">
  <div class="listpage_list">
  <cms:article catalogid="${Catalog.ID}" level="CurrentAndChild" page="true" flags="Dimension">
      <z:list>
        <dl>
            <a href="<z:if condition="${Article.LinkFlag!='Y'}"></z:if>${Article.Link}">${Article.Title}</a>
            <dt><a href="<z:if condition="${Article.LinkFlag!='Y'}"></z:if>${Article.Link}">${Article.Summary}</a></dt>
            <dd>${format(Article.PublishDate, 'yyyy-MM-dd HH:mm:ss')}</dd>
        </dl>
      </z:list>
  </cms:article>
  </div>
  <div class="pagebar clearself">
      <cms:pagebar> 
        <z:if condition="${Page.Count>0}">        
            <z:if condition="${Page.Index>0}">
           	 <a href="javascript:window.location.href='${OtherFileName}'.replace('$'+''+'{PageIndex}', '<z:eval expression="${Page.Index-1}" />')">&lt;</a>
            </z:if>
            <z:else> 
              <a href="javascript:void(0);">&lt;</a> 
            </z:else>
         </z:if> 
         <z:for from="0" to="${Page.Count}">
              <z:if condition="${Page.Index<4&&0<=j&&j<=5}">
                   <z:if condition="${Page.Index==j||j==0}">
                          <z:if condition="${Page.Index!=0&&j==0}">
                             <a href="javascript:void(0);" onClick="window.location.href='${OtherFileName}'.replace('$'+''+'{PageIndex}', '${j}');"><z:eval expression='${j+1}' /></a> 
                          </z:if>
                          <z:else>
                             <span><z:eval expression='${j+1}' /></span>
                          </z:else>
                    </z:if>
                    <z:else>
					  <a href="javascript:void(0);" onClick="window.location.href='${OtherFileName}'.replace('$'+''+'{PageIndex}', '${j}');"><z:eval expression='${j+1}' /></a> 
                    </z:else>
                    <z:if condition="${Page.Index==5}">...</z:if>
			  </z:if>   
              <z:if condition="${Page.Index>=4&&(Page.Index-3)<=j&&j<=(Page.Index+2)}">
                    <z:if condition="${Page.Index==j}">
                  	   <span><z:eval expression='${j+1}' /></span>
                    </z:if>
                   <z:else>
						<a href="javascript:void(0);" onClick="window.location.href='${OtherFileName}'.replace('$'+''+'{PageIndex}', '${j}');"><z:eval expression='${j+1}' /></a> 
                   </z:else>
                    <z:if condition="${(Page.Index+2)==j||Page.Count==j}">...</z:if>
			  </z:if>
        </z:for> 
        <z:if condition="${Page.Count>0}">        
            <z:if condition="${Page.Index<Page.Count-1}">
           	 <a href="javascript:window.location.href='${OtherFileName}'.replace('$'+''+'{PageIndex}', '<z:eval expression="${Page.Index+1}" />')">&gt;</a>
            </z:if>
            <z:else> 
              <a href="javascript:void(0);">&gt;</a> 
            </z:else>
         </z:if>
	</cms:pagebar>
  </div>
</div>
<!-- 第一块左侧结束 -->

<!-- 第一块右侧开始 -->
<cms:include file="blockright.template.html">{ZCMS:文件包含}</cms:include>
<!-- 第一块右侧结束 -->
</div>
<!-- 第一块结束 -->

</div>
<!-- 主体结束 -->

<!-- 页脚开始 -->
<cms:include file="footer.template.html">{ZCMS:文件包含}</cms:include>
<!-- 页脚结束 -->
<script type="text/javascript" src="../js/jquery.soChange-min.js"></script>
<script type="text/javascript" src="../js/cata_index.js"></script>
<script>
var curCatalogInnerCode="${Catalog.InnerCode}";//获取当前页面所在栏目的InnerCode，这句不能够写在外部js文件里
for(var i=1,len=curCatalogInnerCode.length; i<len/6+1; i++){
    var innerCode=curCatalogInnerCode.substring(0,i*6);
    var catalogElement=document.getElementById(innerCode);
    if(catalogElement){
        catalogElement.className+=" current";
    }
}
</script>
</body>
</html>
