<z:config type="Block" name="专题页脚"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../css/page.css" rel="stylesheet" type="text/css">
<div class="friendlink clearself">
  <div class="pageWidth clearself">
     <div class="friendlinkpic fl"><a href="http://demo.zving.com/cn/"><img src="../images/friendlinkpic.gif" /></a></div>
     <div class="friendlinkcon fr">
       <h3>友情链接</h3>
       <cms:link code="index" count="20">
		<z:list><a href="${Link.URL}" target="_blank">${Link.Name}</a></z:list>
	   </cms:link>
     </div>
  </div>
</div>
<div class="footer clearself">
  Copyright(C) 泽元新闻网 2007-2008 All Rights Reserved. 京ICP备06024929号<span>|</span><cms:content id="249784" contenttype="Article"><a target="_blank" href="${Content.Link}">广告服务</a></cms:content><span>|</span><cms:content id="249785" contenttype="Article"><a target="_blank" href="${Content.Link}">诚征英才</a></cms:content><span>|</span><cms:content id="249786" contenttype="Article"><a target="_blank" href="${Content.Link}">隐私政策</a></cms:content><span>|</span><cms:content id="249787" contenttype="Article"><a target="_blank" href="${Content.Link}">免责条款</a></cms:content><span>|</span><cms:content id="249788" contenttype="Article"><a target="_blank" href="${Content.Link}">法律顾问</a></cms:content><span>|</span><cms:content id="249789" contenttype="Article"><a target="_blank" href="${Content.Link}">意见反馈</a></cms:content>
</div>