<z:config type="ImageList" name="图片列表" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${Site.Name}-${Catalog.Name}</title>
<cms:include file="include.template.html"></cms:include>
<link href="../css/page.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- 页头开始 -->
<cms:include file="headerblock2.template.html" ssi="false">{ZCMS:文件包含}</cms:include>
<!-- 页头结束 -->

<!-- 主体开始 -->
<div class="main cata_main pageWidth clearself">

<!-- 第一块开始 -->
<div class="blockboxB blockboxnobg clearself">
<!-- 第一块左侧开始 -->
<div class="newslist_left clearself fl">
  <div class="listpage_list">
      <cms:imagegroup pagesize="8" page="true"> 
              <z:list> 
                <div class="images_picBox">  			
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="height:135px">
                         <tbody><tr>
                          <td><a href="${ImageGroup.Link}"><img src="${imageSize(ImageGroup.LogoFile,120,80)}" /></a></td>
                         </tr>
                        </tbody></table>
                        <h2 style="line-height: 22px;"><a title="${ImageGroup.Title}"  href="${ImageGroup.Link}">${charWidth(ImageGroup.Title,30)}</a><span>&nbsp;[组图${ImageGroup.Quantity}张]</span></h2>
                        <span>${format(ImageGroup.PublishDate,'yyyy年MM月dd日')}</span>
                    </div>
               </z:list>
           </cms:imagegroup>
  </div>
   <div style="height:0px; clear:both; font-size:0px;"></div>
  <div class="pagebar clearself">
    <cms:pagebar></cms:pagebar>
  </div>
</div>
<!-- 第一块左侧结束 -->

<!-- 第一块右侧开始 -->
<cms:include file="blockright.template.html">{ZCMS:文件包含}</cms:include>
<!-- 第一块右侧结束 -->
</div>
<!-- 第一块结束 -->

</div>
<!-- 主体结束 -->

<!-- 页脚开始 -->
<cms:include file="footer.template.html">{ZCMS:文件包含}</cms:include>
<!-- 页脚结束 -->
<script type="text/javascript" src="../js/jquery.soChange-min.js"></script>
<script type="text/javascript" src="../js/cata_index.js"></script>
<script>
var curCatalogInnerCode="${Catalog.InnerCode}";//获取当前页面所在栏目的InnerCode，这句不能够写在外部js文件里
for(var i=1,len=curCatalogInnerCode.length; i<len/6+1; i++){
    var innerCode=curCatalogInnerCode.substring(0,i*6);
    var catalogElement=document.getElementById(innerCode);
    if(catalogElement){
        catalogElement.className+=" current";
    }
}
</script>
</body>
</html>
