.star_blue_title_bg_border { background: none repeat scroll 0% 0% rgb(255, 255, 255);  width:100%;height:100%;position:relative;overflow:hidden;}
.star_blue_title_bg_border .ct_bot_positionWrapper{position:absolute;bottom:0;left:0;width:100%;overflow:hidden;}
.star_blue_title_bg_border .ct_bot { padding-left: 5px; font-size: 0px; background: #ffffff; overflow: hidden; height: 5px; border:1px solid #AACCEE; border-top:none; }
.star_blue_title_bg_border .ct_bot .ct_bot_bg { font-size: 0px; background: #ffffff; overflow: hidden; height: 5px; }
.star_blue_title_bg_border .ct_cont {height:100%; position:relative; padding: 0px 4px; background:#ffffff; border-left:1px solid #AACCEE; border-right:1px solid #AACCEE; }
.star_blue_title_bg_border .ct_contBox { clear: both; overflow: hidden; }
.star_blue_title_bg_border .ct_t_01 { padding: 6px 0px 4px; }
.star_blue_title_bg_border UL { list-style-type: none;padding: 0px; margin: 0px;  }
.star_blue_title_bg_border LI { padding: 0px; margin: 0px; }
.star_blue_title_bg_border .ct_list_009 LI { padding-left: 1em; background: url('unfcn_mj_01.gif') no-repeat scroll 5px 50% transparent; }
.star_blue_title_bg_border .ct_t_01 LI { font-size: 14px; line-height: 23px; }
.star_blue_title_bg_border .ct_datetime { padding-left: 5px; font-size: 0.85em; color: rgb(153, 153, 153); line-height: 1.6em; }
.star_blue_title_bg_border A { color: rgb(0, 0, 0); text-decoration: none; }
.star_blue_title_bg_border H2 { padding: 0px; margin: 0px; }
.star_blue_title_bg_border .ct_title { font-weight: normal; background: url('z_cl_001.gif') repeat-x left top; overflow: hidden; color: rgb(255, 255, 255); border-left:1px solid #AACCEE; border-right:1px solid #AACCEE; height: 26px; }
.star_blue_title_bg_border .ct_title .ct_more { font-family:SIMSUN; padding-right: 10px; font-weight: normal; font-size: 12px; float: right; line-height: 26px; height: 26px; }
.star_blue_title_bg_border .ct_title A:link { color:#1A47BA; text-decoration: none; }
.star_blue_title_bg_border .ct_title .ct_name { padding-left: 30px; font-size: 14px; float: left; overflow: hidden; line-height: 26px; white-space: nowrap; height: 26px; background:url('z_cl_005.gif') no-repeat left top; padding-left:40px; color:#1A47BA;}
