/*各种菜单的样式*/

body,p,ul,li,a{
	margin:0;
	padding:0;
}
ul,li{
	list-style-type:none;
}
/****菜单类型：1*****/
.low_relief{
    background-color: transparent;
    /*background-image: url("images/11.jpg");*/
    background-position: left top;
    background-repeat: repeat;
    border-radius: 5px 5px 5px 5px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}
.low_relief  li  ul{
	display:none;
}
.low_relief  li:hover>ul{
	display:block;
}
/*使用下面的样式也可以实现逐层展开
.low_relief li  ul{
	display:none;
}
.low_relief  li:hover ul{
	display:block;
}
.low_relief  li:hover ul  ul{
	display:none;
}
.low_relief  li ul  li:hover ul{
	display:block;
}
*/

.low_relief .top{
    background-color: transparent;
    background-image: none;
    background-position: right top;
    background-repeat: no-repeat;
    float: left;
    height: 40px;
    line-height: 40px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    text-align: center;
    width: 109px;
}
.low_relief .top:hover {
    /*background-image: url("images/12.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
}

.low_relief   a {
    color: #FFFFFF;
    display: block;
    font-family: arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.low_relief a:hover{
	 color: #FFFFFF;
	 text-decoration: none;
}
.low_relief .top  ul{
	width:109px;
    position: absolute;
	/*top:40px;*/
	margin-left:-5px;	
}
.low_relief .sub ul{
    position: absolute;
	//top:40px;
	left:109px;
	margin-left:0;
}
.low_relief .top li{
	background-image:url("images/3.png");	
	/*background-color: #DE3226;红色*/
	/*background-color:#BE5E01;咖啡色*/
	background-position: left center;
    background-repeat: no-repeat;
    float: left;
    height: 35px;
    line-height: 35px;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 36px;
    position: relative;
    text-align: left;
	width:78px;
}
.low_relief .top  li{
	margin-left:5px;
}
.low_relief .sub li{
	margin-left:0;
}
.low_relief .top  li:hover{	
	/*红色 background-color: #BF1C13;*/
	/*background-color: #8C4600;咖啡色*/
}
/*子菜单呈现方式（向上、向下）*/
.low_relief.down .top ul{
	top:40px;
}
.low_relief.down .sub ul {
	top:0px;
}
.low_relief.up{
	margin-top:200px;
}
.low_relief.up .top ul{
	bottom:40px;
}
.low_relief.up .sub ul{
	bottom:0px;
}
/*配色方案种类（bg_red，bg_chocolate）*/
	/*红色背景*/
.low_relief.bg_red{
	background-image: url("images/01.jpg");
}
.low_relief.bg_red .top:hover {
    background-image: url("images/02.jpg");  
}
.low_relief.bg_red .top  li{	
	background-color: #DE3226;	
}
.low_relief.bg_red .top  li:hover{	
	background-color: #BF1C13;	
}
	/*咖啡色背景*/
.low_relief.bg_chocolate{
	background-image: url("images/11.jpg");
}
.low_relief.bg_chocolate .top:hover {
    background-image: url("images/12.jpg");  
}
.low_relief.bg_chocolate .top  li{	
	background-color: #BE5E01;
}
.low_relief.bg_chocolate .top  li:hover{	
	background-color: #8C4600;
}
	/*蓝色*/
.low_relief.bg_blue{
	background-image: url("images/21.jpg");
}
.low_relief.bg_blue .top:hover {
    background-image: url("images/22.jpg");
}
.low_relief.bg_blue .top  li{	
	background-color: #016FD0;
}
.low_relief.bg_blue .top  li:hover{	
	background-color: #005199;
}
	/*黑色*/
.low_relief.bg_black{
	background-image: url("images/31.jpg");
}
.low_relief.bg_black .top:hover {
    background-image: url("images/32.jpg");
}
.low_relief.bg_black .top  li{	
	background-color: #1F1F1F;
}
.low_relief.bg_black .top  li:hover{	
	background-color: #404040;
}
	/*黄色*/
.low_relief.bg_yellow{
	background-image: url("images/41.jpg");
}
.low_relief.bg_yellow .top:hover {
    background-image: url("images/42.jpg");
}
.low_relief.bg_yellow .top  li{	
	background-color: #F26E05;
}
.low_relief.bg_yellow .top  li:hover{	
	background-color: #B64000;
}
	/*紫色*/
.low_relief.bg_purple{
	background-image: url("images/51.jpg");
}
.low_relief.bg_purple .top:hover {
    background-image: url("images/52.jpg");
}
.low_relief.bg_purple .top  li{	
	background-color: #98008F;
}
.low_relief.bg_purple .top  li:hover{	
	background-color: #65005F;
}
	/*绿色*/
.low_relief.bg_green{
	background-image: url("images/61.jpg");
}
.low_relief.bg_green .top:hover {
    background-image: url("images/62.jpg");
}
.low_relief.bg_green .top  li{	
	background-color: #019B31;
}
.low_relief.bg_green .top  li:hover{	
	background-color: #006921;
}
/****end****菜单类型1*****/
/****菜单类型：2*****/

/****菜单类型：3*****/

/****菜单类型：4*****/
/****菜单类型：5*****/