/* line 3, _source/libs/_extend.scss */
.footer-main .footer-item i, .about_wrapper .welcome .service_lst .service_wei i, .about_wrapper .welcome .service_lst .service_xi i, .about_wrapper .welcome .service_lst .service_yong i, .about_wrapper .welcome .service_lst .service_gai i {
  background-image: url('../img/icons-s4db797ff8e.png');
  background-repeat: no-repeat;
}

/* line 8, _source/libs/_extend.scss */
.dealer-city .icon-map, .dealer-city .icon-arrow, .dealer-city-sel .city-th .icon-map {
  background-image: url('../img/city-s049090c03b.png');
  background-repeat: no-repeat;
}

/* line 20, _source/libs/_extend.scss */
.img_cn .prev, .img_cn .next {
  background-image: url('../img/lookback-s0a0881638e.png');
  background-repeat: no-repeat;
}

/* line 5, _source/comm/_comm.scss */
body {
  background-color: #fff;
}

/* line 9, _source/comm/_comm.scss */
.lookback_wrapper .lookback_cn, .img_list, .about_wrapper .welcome .service_lst, .about_wrapper .welcome .bot, .seek_wrapper .seek_cn .tit, .seek_wrapper .map_cn {
  *zoom: 1;
}
/* line 10, _source/comm/_comm.scss */
.lookback_wrapper .lookback_cn:after, .img_list:after, .about_wrapper .welcome .service_lst:after, .about_wrapper .welcome .bot:after, .seek_wrapper .seek_cn .tit:after, .seek_wrapper .map_cn:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
}

/* line 23, _source/comm/_comm.scss */
.about_wrapper .about_cn, .seek_wrapper .seek_cn {
  width: 1190px;
  margin: 0 auto;
}

/* line 27, _source/comm/_comm.scss */
img {
  display: block;
}

/* line 1, _source/comm/_header.scss */
.header-wrapper {
  position: relative;
  background-color: #fff;
}
/* line 4, _source/comm/_header.scss */
.header-wrapper .header {
  position: relative;
  padding-bottom: 8px;
  z-index: 1;
  background: url(../img/bg_header.png) left bottom no-repeat;
}
/* line 10, _source/comm/_header.scss */
.header-wrapper .bg {
  position: absolute;
  bottom: 0;
  height: 8px;
  line-height: 8px;
  width: 50%;
  overflow: hidden;
}
/* line 18, _source/comm/_header.scss */
.header-wrapper .bg_fl {
  left: 0;
  background: url(../img/bg_header_lf.png) right bottom repeat-x;
}
/* line 22, _source/comm/_header.scss */
.header-wrapper .bg_rg {
  right: 0;
  background: url(../img/bg_header_rt.png) left bottom repeat-x;
}

/* line 2, _source/comm/_footer.scss */
.footer-main .footer-intro {
  padding-top: 27px;
}
/* line 5, _source/comm/_footer.scss */
.footer-main .footer-item {
  width: 250px;
  padding: 40px 40px 0 0;
  margin-left: 320px;
  color: #d6d6d6;
  overflow: hidden;
  zoom: 1;
}
/* line 12, _source/comm/_footer.scss */
.footer-main .footer-item i {
  width: 55px;
  height: 55px;
  float: left;
  margin-right: 14px;
  width: 55px;
  height: 55px;
  background-position: 0 -186px;
}
/* line 19, _source/comm/_footer.scss */
.footer-main .footer-item .txt {
  float: left;
}
/* line 22, _source/comm/_footer.scss */
.footer-main .footer-item h3 {
  height: 24px;
  line-height: 24px;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
}
/* line 30, _source/comm/_footer.scss */
.footer-main .footer-item strong {
  font-size: 24px;
  font-weight: 100;
}
/* line 35, _source/comm/_footer.scss */
.footer-main .footer-side {
  float: left;
  width: 360px;
  padding-left: 40px;
  border-left: 1px solid #5c5c5c;
}
/* line 42, _source/comm/_footer.scss */
.footer-main .weixin-info dt {
  margin: -6px 0 0;
  font-size: 24px;
  font-weight: 400;
  color: #d6d6d6;
}
/* line 48, _source/comm/_footer.scss */
.footer-main .weixin-info .weixinhao {
  font-size: 18px;
  color: #ccc;
  font-weight: 100;
}
/* line 53, _source/comm/_footer.scss */
.footer-main .weixin-info .desc {
  font-size: 18px;
  color: #999;
}

/* line 1, _source/index/_banner.scss */
.banner_wrapper {
  height: 360px;
  margin-bottom: 40px;
  overflow: hidden;
  min-width: 1190px;
}
/* line 6, _source/index/_banner.scss */
.banner_wrapper a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

/* line 1, _source/index/_lookBack.scss */
.lookback_wrapper {
  margin-bottom: 40px;
}
/* line 3, _source/index/_lookBack.scss */
.lookback_wrapper .lookback_cn {
  margin: 0 auto;
  width: 1180px;
  min-height: 710px;
  background: url(../img/bg_lookback.png) 0 0 no-repeat;
}
/* line 10, _source/index/_lookBack.scss */
.lookback_wrapper .tit {
  padding-left: 40px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

/* line 20, _source/index/_lookBack.scss */
.lookback_main {
  margin-left: 10px;
  padding-top: 16px;
  background-color: #000;
}

/* line 25, _source/index/_lookBack.scss */
.img_cn {
  margin: 13px 0 23px 0;
  height: 480px;
  position: relative;
  overflow: height;
}
/* line 30, _source/index/_lookBack.scss */
.img_cn .imgcn_img {
  margin: 0 auto;
  width: 720px;
  height: 480px;
  position: relative;
  overflow: height;
}
/* line 36, _source/index/_lookBack.scss */
.img_cn .imgcn_img img {
  display: block;
  width: 720px;
  height: 480px;
}
/* line 42, _source/index/_lookBack.scss */
.img_cn .next,
.img_cn .prev {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 80px;
}
/* line 49, _source/index/_lookBack.scss */
.img_cn .prev {
  left: 60px;
  width: 50px;
  height: 80px;
  background-position: 0 -85px;
}
/* line 53, _source/index/_lookBack.scss */
.img_cn .next {
  right: 60px;
  width: 50px;
  height: 80px;
  background-position: 0 0;
}
/* line 57, _source/index/_lookBack.scss */
.img_cn .caption {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 720px;
  padding: 4px 0;
  height: 42px;
  margin-left: -360px;
  background: url(../img/bg_caption.png) 0 0 repeat-x;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}
/* line 70, _source/index/_lookBack.scss */
.img_cn .caption .des {
  padding: 0 20px;
  float: left;
  width: 540px;
}
/* line 75, _source/index/_lookBack.scss */
.img_cn .caption .index {
  padding: 0 20px;
  float: right;
  width: 70px;
  text-align: right;
}

/* line 83, _source/index/_lookBack.scss */
.img_list {
  margin: 0 1px 0 17px;
  padding-bottom: 15px;
}
/* line 87, _source/index/_lookBack.scss */
.img_list li {
  width: 170px;
  height: 113px;
  float: left;
  margin: 0 16px 0 0;
  border: 3px solid #000;
  border-radius: 4px;
  cursor: pointer;
}
/* line 95, _source/index/_lookBack.scss */
.img_list li img {
  display: block;
  width: 170px;
  height: 113px;
}
/* line 100, _source/index/_lookBack.scss */
.img_list li.cur {
  border-color: #fff;
}

/* line 1, _source/index/_about.scss */
.about_wrapper {
  margin-bottom: 50px;
  padding-bottom: 58px;
  background-color: #f5f5f5;
}
/* line 7, _source/index/_about.scss */
.about_wrapper .about_cn h3 {
  padding: 34px 0 26px 10px;
  line-height: 47px;
  font-size: 28px;
  color: #333;
  font-weight: 400;
}
/* line 15, _source/index/_about.scss */
.about_wrapper .txt_lst {
  padding: 0 0 24px 10px;
}
/* line 17, _source/index/_about.scss */
.about_wrapper .txt_lst li {
  line-height: 26px;
  padding: 0 0 4px 24px;
  font-size: 16px;
  background: url(../img/dot.png) 0 9px no-repeat;
}
/* line 24, _source/index/_about.scss */
.about_wrapper .welcome {
  height: 568px;
  overflow: hidden;
  background: url(../img/bg_about.png) 0 0 no-repeat;
}
/* line 28, _source/index/_about.scss */
.about_wrapper .welcome h3 {
  height: 60px;
  line-height: 60px;
  padding: 0 0 0 30px;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}
/* line 36, _source/index/_about.scss */
.about_wrapper .welcome .service_lst {
  padding: 20px 0 0 30px;
}
/* line 39, _source/index/_about.scss */
.about_wrapper .welcome .service_lst li {
  width: 258px;
  height: 288px;
  float: left;
  margin-right: 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 2px 4px 4px #999;
}
/* line 47, _source/index/_about.scss */
.about_wrapper .welcome .service_lst li i {
  display: block;
  width: 160px;
  height: 150px;
  margin: 40px auto 0;
}
/* line 53, _source/index/_about.scss */
.about_wrapper .welcome .service_lst li p {
  line-height: 40px;
  font-size: 28px;
  color: #f78e1e;
  text-align: center;
}
/* line 61, _source/index/_about.scss */
.about_wrapper .welcome .service_lst .service_wei i {
  width: 160px;
  height: 150px;
  background-position: 0 -246px;
}
/* line 67, _source/index/_about.scss */
.about_wrapper .welcome .service_lst .service_xi i {
  width: 160px;
  height: 150px;
  background-position: 0 -401px;
}
/* line 72, _source/index/_about.scss */
.about_wrapper .welcome .service_lst .service_yong i {
  width: 160px;
  height: 150px;
  background-position: 0 -556px;
}
/* line 77, _source/index/_about.scss */
.about_wrapper .welcome .service_lst .service_gai i {
  width: 160px;
  height: 150px;
  background-position: 0 0;
}
/* line 82, _source/index/_about.scss */
.about_wrapper .welcome .bot {
  margin: 40px 0 0 65px;
}
/* line 85, _source/index/_about.scss */
.about_wrapper .welcome .bot .qrcode {
  float: left;
}
/* line 87, _source/index/_about.scss */
.about_wrapper .welcome .bot .qrcode img {
  float: left;
  width: 150px;
  margin-right: 10px;
}
/* line 92, _source/index/_about.scss */
.about_wrapper .welcome .bot .qrcode .qr_txt {
  padding-top: 30px;
  float: left;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}
/* line 98, _source/index/_about.scss */
.about_wrapper .welcome .bot .qrcode .qr_txt .des1 {
  color: #333;
}
/* line 101, _source/index/_about.scss */
.about_wrapper .welcome .bot .qrcode .qr_txt .des2 {
  font-weight: 400;
}
/* line 106, _source/index/_about.scss */
.about_wrapper .welcome .bot .qrocde1 {
  margin-right: 230px;
}
/* line 108, _source/index/_about.scss */
.about_wrapper .welcome .bot .qrocde1 .qr_txt {
  width: 300px;
}
/* line 113, _source/index/_about.scss */
.about_wrapper .welcome .bot .qrcode2 .qr_txt {
  width: 230px;
}

/* line 1, _source/index/_seek.scss */
.seek_wrapper {
  margin-bottom: 57px;
}
/* line 5, _source/index/_seek.scss */
.seek_wrapper .seek_cn .tit {
  padding: 10px 0 20px;
}
/* line 9, _source/index/_seek.scss */
.seek_wrapper .seek_cn h3 {
  float: left;
  line-height: 30px;
  font-size: 28px;
  color: #333;
  font-weight: 400;
}
/* line 16, _source/index/_seek.scss */
.seek_wrapper .seek_cn .line {
  float: left;
  width: 1px;
  height: 24px;
  margin: 3px 20px 0;
  background-color: #ccc;
  overflow: hidden;
}
/* line 24, _source/index/_seek.scss */
.seek_wrapper .seek_cn .dealer-city {
  float: left;
  margin-top: 3px;
}
/* line 29, _source/index/_seek.scss */
.seek_wrapper .area_cn {
  padding: 20px 16px 0;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
/* line 33, _source/index/_seek.scss */
.seek_wrapper .area_cn a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 16px;
  margin: 0 2px 16px 0;
  color: #333;
  font-size: 16px;
}
/* line 41, _source/index/_seek.scss */
.seek_wrapper .area_cn a.cur {
  background-color: #03a9f4;
  color: #fff;
}
/* line 44, _source/index/_seek.scss */
.seek_wrapper .area_cn a.cur:hover {
  color: #fff;
  text-decoration: none;
}
/* line 49, _source/index/_seek.scss */
.seek_wrapper .area_cn a:hover {
  color: #f78e1e;
  text-decoration: underline;
}
/* line 53, _source/index/_seek.scss */
.seek_wrapper .area_cn a.disable {
  color: #ccc;
}
/* line 58, _source/index/_seek.scss */
.seek_wrapper .map_cn {
  height: 529px;
  background-color: #fafafa;
}
/* line 62, _source/index/_seek.scss */
.seek_wrapper .map_cn .shops {
  padding: 10px 8px;
  width: 280px;
  height: 500px;
  overflow-y: auto;
  float: left;
}
/* line 68, _source/index/_seek.scss */
.seek_wrapper .map_cn .shops li {
  padding: 28px 16px 20px;
  cursor: pointer;
}
/* line 71, _source/index/_seek.scss */
.seek_wrapper .map_cn .shops li h4 {
  font-size: 16px;
  font-weight: 400;
}
/* line 75, _source/index/_seek.scss */
.seek_wrapper .map_cn .shops li p {
  font-size: 14px;
  color: #666;
}
/* line 79, _source/index/_seek.scss */
.seek_wrapper .map_cn .shops li.nd2 {
  background-color: #fff;
}
/* line 82, _source/index/_seek.scss */
.seek_wrapper .map_cn .shops li.cur {
  background-color: #e5f6fe;
}
/* line 87, _source/index/_seek.scss */
.seek_wrapper .map_cn .map {
  width: 882px;
  float: right;
  height: 529px;
}
/* line 95, _source/index/_seek.scss */
.seek_wrapper .amap-overlays a:hover {
  text-decoration: none;
}
/* line 100, _source/index/_seek.scss */
.seek_wrapper .amap-info-content {
  padding: 10px 18px;
}
/* line 102, _source/index/_seek.scss */
.seek_wrapper .amap-info-content h3 {
  float: none;
  font-size: 20px;
  margin-bottom: 6px;
}
/* line 107, _source/index/_seek.scss */
.seek_wrapper .amap-info-content .map_txt_cn {
  padding: 0 0 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
/* line 112, _source/index/_seek.scss */
.seek_wrapper .amap-info-content .map_txt_cn em {
  color: #f60;
  font-style: normal;
}
/* line 116, _source/index/_seek.scss */
.seek_wrapper .amap-info-content .map_txt_cn p {
  padding-bottom: 6px;
}

/* line 122, _source/index/_seek.scss */
.dealer-city {
  position: relative;
}
/* line 124, _source/index/_seek.scss */
.dealer-city .city-th {
  position: relative;
  z-index: 2;
  height: 22px;
  border-radius: 12px;
  border: 1px solid #e9e9e9;
  background-color: #e9e9e9;
  cursor: pointer;
}
/* line 133, _source/index/_seek.scss */
.dealer-city .a-city {
  float: left;
  padding: 0 10px;
  height: 22px;
  line-height: 22px;
  text-align: center;
}
/* line 139, _source/index/_seek.scss */
.dealer-city .a-city span {
  float: left;
  color: #333;
}
/* line 144, _source/index/_seek.scss */
.dealer-city .a-city:hover span {
  color: #f78e1e;
  text-decoration: underline;
}
/* line 150, _source/index/_seek.scss */
.dealer-city .icon-map {
  float: left;
  width: 12px;
  height: 15px;
  background-position: 0 -40px;
  margin: 3px 6px 0 0;
}
/* line 155, _source/index/_seek.scss */
.dealer-city .icon-arrow {
  float: left;
  width: 7px;
  height: 5px;
  background-position: 0 0;
  margin: 10px 0 0 8px;
}
/* line 160, _source/index/_seek.scss */
.dealer-city .city-tb {
  display: none;
  position: absolute;
  left: 0;
  top: 23px;
  z-index: 1;
  width: 498px;
  padding: 10px;
  border-radius: 0 2px 2px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
}
/* line 172, _source/index/_seek.scss */
.dealer-city .city-tb li {
  float: left;
  width: 70px;
  height: 24px;
  padding: 4px 0;
}
/* line 178, _source/index/_seek.scss */
.dealer-city .city-tb a {
  float: left;
  padding: 0 6px;
  line-height: 24px;
  color: #666;
}
/* line 183, _source/index/_seek.scss */
.dealer-city .city-tb a:hover {
  color: #f78e1e;
}
/* line 186, _source/index/_seek.scss */
.dealer-city .city-tb a.cur {
  color: #fff;
  background-color: #f78e1e;
}
/* line 189, _source/index/_seek.scss */
.dealer-city .city-tb a.cur:hover {
  text-decoration: none;
}

/* line 198, _source/index/_seek.scss */
.dealer-city-sel .city-th {
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  border-color: #ccc #ccc #fff;
}
/* line 203, _source/index/_seek.scss */
.dealer-city-sel .city-th .a-city span, .dealer-city-sel .city-th .a-city:hover span {
  color: #333;
  text-decoration: none;
}
/* line 208, _source/index/_seek.scss */
.dealer-city-sel .city-th .icon-map {
  width: 12px;
  height: 15px;
  background-position: 0 -20px;
}
/* line 212, _source/index/_seek.scss */
.dealer-city-sel .city-tb {
  display: block;
}

/* line 1, _source/index/_side.scss */
.side_wrapper {
  position: fixed;
  left: 50%;
  margin-left: 615px;
  top: 522px;
  width: 116px;
  background: #f4e4d3 url(../img/bg_sidebar.jpg) 0 0 repeat-y;
  border: 2px solid #f78e1e;
}
/* line 9, _source/index/_side.scss */
.side_wrapper i {
  height: 15px;
  width: 116px;
  display: block;
}
/* line 14, _source/index/_side.scss */
.side_wrapper .top {
  margin-bottom: 14px;
  background: url(../img/bg_sidetop.png) center top no-repeat;
}
/* line 18, _source/index/_side.scss */
.side_wrapper .bot {
  margin-top: 7px;
  background: url(../img/bg_sidebot.png) center top no-repeat;
}
/* line 22, _source/index/_side.scss */
.side_wrapper a {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0 5px 10px;
  background-color: #fff;
  font-size: 18px;
  color: #333;
  text-align: center;
}
/* line 31, _source/index/_side.scss */
.side_wrapper a:hover {
  color: #f78e1e;
}
