.delay-0-5{
	animation-delay:.5s;
	-webkit-animation-delay:.5s;
}
.delay-1{
	animation-delay:1s;
	-webkit-animation-delay:1s;
}

.delay-1-5{
	animation-delay:1.5s;
	-webkit-animation-delay:1.5s;
}

.delay-2{
	animation-delay:2s;
	-webkit-animation-delay:2s;
}

.delay-2-5{
	animation-delay:2.5s;
	-webkit-animation-delay:2.5s;
}

.delay-3{
	animation-delay:3s;
	-webkit-animation-delay:3s;
}

.delay-3-5{
	animation-delay:3.5s;
	-webkit-animation-delay:3.5s;
}

.delay-4{
	animation-delay:4s;
	-webkit-animation-delay:4s;
}

.delay-4-5{
	animation-delay:4.5s;
	-webkit-animation-delay:4.5s;
}

.delay-5{
	animation-delay:5s;
	-webkit-animation-delay:5s;
}

.delay-5-5{
	animation-delay:5.5s;
	-webkit-animation-delay:5.5s;
}

.delay-6{
	animation-delay:6s;
	-webkit-animation-delay:6s;
}

.delay-6-5{
	animation-delay:6.5s;
	-webkit-animation-delay:6.5s;
}

.delay-7{
	animation-delay:7s;
	-webkit-animation-delay:7s;
}

.delay-7-5{
	animation-delay:7.5s;
	-webkit-animation-delay:7.5s;
}

.delay-8{
	animation-delay:8s;
	-webkit-animation-delay:8s;
}

.delay-8-5{
	animation-delay:8.5s;
	-webkit-animation-delay:8.5s;
}

.delay-9{
	animation-delay:9s;
	-webkit-animation-delay:9s;
}

.delay-9-5{
	animation-delay:9.5s;
	-webkit-animation-delay:9.5s;
}

.delay-10{
	animation-delay:10s;
	-webkit-animation-delay:10s;
}

.delay-10-5{
	animation-delay:10.5s;
	-webkit-animation-delay:10.5s;
}