<z:config type="ArticleDetail" name="2015上海车展" />
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<!-- begin | Pre-Resolve DNS, Firefox 3.5+, Chrome, Safari 5+ and IE 9+ | PS: Conditional comments were disabled in IE10. However, IE10+ are much less buggy than the earlier ones. So I supposed that they are the browser just like google browser(A Level). -->
		<meta http-equiv="x-dns-prefetch-control" content="off"/>
		<!--[if IE 9]>
			<link rel="prefetch" href="//www.chexiang.com/"/>
			<link rel="prefetch" href="//s1.cximg.com/"/>
			<link rel="prefetch" href="//s2.cximg.com/"/>
			<link rel="prefetch" href="//s3.cximg.com/"/>
			<link rel="prefetch" href="//i1.cximg.com/"/>
			<link rel="prefetch" href="//i2.cximg.com/"/>
			<link rel="prefetch" href="//i3.cximg.com/"/>
			<link rel="prefetch" href="//hm.baidu.com/"/>
			<link rel="prefetch" href="//data.cx.com/"/>
			<link rel="prefetch" href="//g.cn.miaozhen.com/"/>
			<link rel="prefetch" href="//sgm.dmp.miaozhen.com/"/>
			<link rel="prefetch" href="//s17.cnzz.com/"/>
			<link rel="prefetch" href="//www.google-analytics.com/"/>
		<![endif]-->
		<!--[if gt IE 9]><!-->
			<link rel="dns-prefetch" href="//www.chexiang.com/">
			<link rel="dns-prefetch" href="//s1.cximg.com/">
			<link rel="dns-prefetch" href="//s2.cximg.com/">
			<link rel="dns-prefetch" href="//s3.cximg.com/">
			<link rel="dns-prefetch" href="//i1.cximg.com/">
			<link rel="dns-prefetch" href="//i2.cximg.com/">
			<link rel="dns-prefetch" href="//i3.cximg.com/">
			<link rel="dns-prefetch" href="//hm.baidu.com/">
			<link rel="dns-prefetch" href="//data.cx.com/">
			<link rel="dns-prefetch" href="//g.cn.miaozhen.com/">
			<link rel="dns-prefetch" href="//sgm.dmp.miaozhen.com/">
			<link rel="dns-prefetch" href="//s17.cnzz.com/">
			<link rel="dns-prefetch" href="//www.google-analytics.com/">
		<!--<![endif]-->
		<!-- end | Pre-Resolve DNS, Firefox 3.5+, Chrome, Safari 5+ and IE 9+ -->
		<!-- <base target="_blank"/> -->
		<link rel="canonical" href="${Config.Base}"/>
		<meta name="url" content="${Config.Base}"/>
		<meta name="identifier-URL" content="${Config.Base}"/>
		<meta name="linkage" content="${Config.Base}"/>
		<meta http-equiv="X-UA-Compatible" content="ie = edge, chrome = 1"/>
		<meta name="viewport" content="width = device-width, initial-scale = 1, minimal-ui"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="Robots" content="all"/>
		<meta http-equiv="cache-control" content="public"/>
		<meta http-equiv="expires" content="max-age"/>
		<meta http-equiv="windows-Target" contect="_top"/>
		<title>车展</title>
		<meta name="keywords" content="${Site.SEOKeywords}"/>
		<meta name="description" content="${Site.SEODescription}"/>
		<link rel="stylesheet" href="${surl('resource/2015cz/css/index.css')}">
</head>
<body>
	<div class="subject-wrap">
		<div class="subject"></div>
	</div>
	<div class="container">
		
		<!-- cx-2015shcz -->
		<cms:block code="2015shcz" updateBlock = "false"/>
		
		<!-- brand -->
		<div class="row pos mb0">			
			<div class="line-5"></div>
		<div class="brand-wrapper">
			<ul class="brand-logo">
				<li class="first">
					<a target="_blank" title="荣威" href="http://www.chexiang.com/car/roewe/home.htm">
						<i class="logo-roewe"></i>
						<p class="brand-name">荣威</p>
					</a>
				</li>
				<li class="mb current">
					<a target="_blank" title="MG" href="http://www.chexiang.com/car/mg/home.htm">
						<i class="logo-mg"></i>
						<p class="brand-name">MG</p>
					</a>
				</li>
				<li class="mb">
					<a target="_blank" title="别克" href="http://www.chexiang.com/car/buick/home.htm">
						<i class="logo-buick"></i>
						<p class="brand-name">别克</p>
					</a>
				</li>
				<li class="mb">
					<a target="_blank" title="雪佛兰" href="http://www.chexiang.com/car/chevrolet/home.htm">
						<i class="logo-chevrolet"></i>
						<p class="brand-name">雪佛兰</p>
					</a>
				</li>
				<li class="mb">
					<a target="_blank" title="凯迪拉克" href="http://www.chexiang.com/car/cadillac/home.htm">
						<i class="logo-cadillac"></i>
						<p class="brand-name">凯迪拉克</p>
					</a>
				</li>
				<li class="mb">
					<a target="_blank" title="上海大众" href="http://www.chexiang.com/car/volkswagen/home.htm">
						<i class="logo-volkswagen"></i>
						<p class="brand-name">上海大众</p>
					</a>
				</li>
				<li class="">
					<a target="_blank" title="斯柯达" href="http://www.chexiang.com/car/skoda/home.htm">
						<i class="logo-skoda"></i>
						<p class="brand-name">斯柯达</p>
					</a>
				</li>
				<li class="">
					<a target="_blank" title="五菱" href="http://www.chexiang.com/car/WULING/home.htm">
						<i class="logo-WULING"></i>
						<p class="brand-name">五菱</p>
					</a>
				</li>
				<li class="">
					<a target="_blank" title="宝骏" href="http://www.chexiang.com/car/baojun/home.htm">
						<i class="logo-baojun"></i>
						<p class="brand-name">宝骏</p>
					</a>
				</li>
				<li class="">
					<a target="_blank" title="上汽大通" href="http://www.chexiang.com/car/MAXUS/home.htm">
						<i class="logo-MAXUS"></i>
						<p class="brand-name">上汽大通</p>
					</a>
				</li>
			</ul>
		</div>
		</div>
	</div>

	<!-- footer -->
	<div class="footer">
		<p class="copyright">CopyRight © 2013-2014, All Rights Reserved版权所有 车享</p>
		<p class="icp">沪ICP备14000481号</p>
	</div>

	<div class="slide-nav" style="display:none">
		<div class="slide-nav-bg">
			<ul>
				<li class="not"><i></i></li>
				<li class="cur"><i></i>03/15<br />上海车展</li>
				<li><i></i>03/15<br />车展视频</li>
				<li><i></i>03/15<br />穿越上海</li>
				<li><i></i>03/15<br />车享介绍</li>
				<li class="not"><i></i></li>
			</ul>
		</div>
	</div>
  	<script src="${surl('resource/2015cz/js/jquery_1_8_3.js')}"></script>
  	<script src="${surl('resource/2015cz/js/index.js')}"></script>
  	<script>
  	</script>
</body>
</html>