<z:config type="ArticleDetail" name="关于车享独立模板页" />
<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="关于车享" />
    <meta name="description" content="关于车享" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${Article.Title}-${Site.Name}</title>
    <!-- begin | public stylesheet -->

        <link rel="stylesheet" href="${surl('public/ajax/lib/css/reset_css_saike/1.3/reset.css')}">
        <link rel="stylesheet" href="${surl('public/ajax/lib/css/saike.main.site/common.css')}">
    <!-- end | public stylesheet -->

    <!-- begin | private stylesheet -->        
        <link rel="stylesheet" href="${surl('public/ajax/lib/css/saike.main.site/dialog.css')}"/>
        <link rel="stylesheet" href="${surl('public/ajax/lib/css/saike.main.site/about.css')}">
    <!-- end | private stylesheet -->

    <link href="${surl('public/ajax/lib/img/saike.main.site/favicon.ico')}" type="image/x-icon" rel="shortcut icon">
    <!-- begin | global javascript -->
        <script>
                (function (window, console) {
                    window.base = "${Config.Base}";
                    window.accountBase="${Config.AccountBase}";
                    window.mainBase = "${Config.MainBase}";
                    window.imBase = "${Config.IMBase}";
                    window.OrderBase = "${Config.OrderBase}";
                    window.memberBase = "${Config.MemberBase}";
                    window.imUrl="${Config.imUrl}?arg=admin&style=2";
                } (window, "undefined" != typeof console ? console : void 0));
            </script>
    <!-- end | global javascript -->
</head>

<body class="about">
<!--头部开始-->
<div class="mainsite-topnav">
    <div class="mainsite-header"></div>
</div>
<div id="nSubNav" class="n-subnav">

    <div class="subnav-cont">

        <div class="saiclogo">

            <a href="${Config.MainBase}">

                <img class="logo-first" src="${surl('public/ajax/lib/img/saike.main.site/s_logo.png')}" width="106" height="46" border="0">

                <img class="logo-first" src="${surl('public/ajax/lib/img/saike.main.site/s_slogan.gif')}" width="106" height="46" border="0">

            </a>

        </div>

        <span class="headerIntro" sytle="margin-top:20px;"><span class="f-24">${(Article.Title)}</span></span>

    </div>

</div>
<!--头部结束-->
<div id="breadCrumbs" class="w960 breadcrumbs">
    <a href="${Config.MainBase}">首页</a>&gt;<span>${(Article.Title)}</span>
</div>
<!--主框架开始-->
<div class="w960 mt-20">
    <!--侧栏开始-->
    <div id="sideBar" class="sidebar">

        <ul id="aMenu" class="menu">
            <z:set var="curAID" value="${Article.ID}" />
            <cms:article>
                <z:list>
                    <li ${Article.ID==curAID?"class=current":""}><a title="${Article.Title}" href="${Article.Link}">${Article.Title}</a> </li>
                </z:list>
            </cms:article>
        </ul>

    </div>

    <!--侧栏结束-->
    <!--内容区开始-->
       <div class="main">
        <div class="f-18 f-yahei">
            <img src="${surl('public/ajax/lib/img/saike.main.site/com_img.jpg')}" class="va-m mr-10">
            请留下您的意见和建议，帮助我们做的更好
        </div>

        <form id="lx_forms" action="${Config.Base}/feedback/suggestAdd.htm" method="post">
            <div class="about-isay">
                <textarea id="suggestContent" name="suggestContent" class="isay-txt" maxlength="500"  placeholder="请在此填写您的意见或建议！
如果是页面纠错，请帮忙留下页面地址（例如：http://www.chexiang.com）"></textarea>
                <span class="isay-nums">
                    还能输入<b>500</b>字
                </span>
            </div>

            <div class="mt-20">
                <div class="lx-cont">
                    <label>联系方式：</label>
                    <input type="text" class="lx-cont-tel" id="contactMobile" maxlength="40" name="contactMobile" placeholder="请输入联系方式（电话/QQ/email）"/>
                 </div>

                <div class="node-cont">
                    <label>验证码：</label>
                    <input type="text" class="lx-cont-node" id="checkCode" name="checkCode" maxlength="4"  placeholder="请输入验证码"/>
                    <img src="${Config.Base}/bygj/validateCode.htm" class="va-m" id="NewVerifyNode" onclick="javascript:chageCodeImage('NewVerifyNode');">
                    <a href="javascript:chageCodeImage('NewVerifyNode');">看不清？</a>
                </div>

            </div>
            <div class="lx-msg-error">
                <span></span>
            </div>

            <div class="mt-20">
                <input type="button" value="提交意见" class="lx-submit-btn" id="lxSubmitBtn" />
            </div>

        </form>

    </div>
    <!--内容区结束-->
</div>
<!--主框架结束-->
<!--底部开始-->
 <cms:include file="footer.template.html" />
<!--底部结束-->


<script src="${surl('public/ajax/lib/js/jquery/1.8.3/jquery_1_8_3.js')}"></script>
<script src="${surl('public/ajax/lib/js/saike.main.site/ECar.placeholder.js')}"></script>
<script src="${surl('public/ajax/lib/js/saike.main.site/ECar.dialog.js')}"></script>
<script src="${surl('public/ajax/lib/js/saike.main.site/complaint.js')}"></script>

<script type="text/javascript">
var _cxProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); 
document.write(decodeURIComponent("%3Cscript src='" + _cxProtocol + "data.chexiang.com/js/cx_analytics.js?t=" + new Date().getTime() + "&type=' id='analyticsScript' type='text/javascript'%3E" + "%3C/script%3E"));
</script>
</body>
</html>
