<z:config type="Block" name="首页页面底部" />
<div class="footer-main">
	<div class="footer-intro">
		<dl class="footer-item">
			<dt>关于我们</dt>
			<dd><a href="${Config.MainBase}/gycx/about.shtml" target="_blank">关于车享</a></dd>
			<dd><a href="${Config.JoinBase}" target="_blank">加入我们</a></dd>
			<dd><a href="${Config.MainBase}/gycx/terms.shtml" target="_blank">法律声明</a></dd>
			<dd><a href="${Config.MainBase}/gycx/impunity.shtml" target="_blank">免责条款</a></dd>
			<dd><a href="${Config.MainBase}/gycx/privacy.shtml" target="_blank">隐私权声明</a></dd>
		</dl>
		<dl class="footer-item">
			<dt>联系我们</dt>
			<dd><a href="${Config.JoinBase}" target="_blank">加入我们</a></dd>
			<dd>
				<p class="tel">4008 020 666</p>
			</dd>
		</dl>
		<dl class="footer-item">
			<dt>售后服务</dt>
		<!-- <dd><a href="${Config.MainBase}/feedback/suggest.htm" target="_blank">投诉建议</a></dd> -->	
			<dd><a href="${Config.MainBase}/gycx/agreement.shtml" target="_blank">用户服务协议</a></dd>
		</dl>
		<dl class="footer-item">
			<dt>会员说明</dt>
			<dd><a href="${Config.MallBase}/help.htm?tab=tab-rights" target="_blank">会员权益</a></dd>
			<dd><a href="${Config.MallBase}/help.htm?tab=tab-integral" target="_blank">积分说明</a></dd>
			<dd><a href="${Config.MallBase}/help.htm?tab=tab-register" target="_blank">注册流程</a></dd>
			<dd><a href="${Config.MallBase}/help.htm?tab=tab-problem" target="_blank">常见问题</a></dd>
		</dl>
		<div class="footer-side">
			<div class="ercode-box">
				<span title="微信订阅号"><img class="weixin-img" src="${surl('resource/img/ercode.png')}" alt="微信订阅号" width="120" height="120"></span>
				<dl class="weixin-info">
				<dt>微信订阅号</dt>
				<dd class="weixinhao">chexiangV</dd>
				<dd class="desc">
					<p>扫描二维码关注车享官方账号</p>
					<p>还有劲爆优惠等你来拿!</p>
				</dd>
				</dl>
			</div>
			<div class="btn-area">
				<a class="a-btn" href="${Config.DealerBase}" target="_blanks">经销商登录<i></i></a>
				<a class="a-btn-b" href="${Config.ChexiangpaiBase}/login/index.htm" target="_blank">二手车商户登录<i></i></a>
			</div>
		</div>
	</div>
</div>
		
<div class="footer-sub">
	<p class="copyright">CopyRight &copy; 2014-2015, All Rights Reserved 版权所有 车享     沪ICP备14000481号</p>
	<p style="display:none;" class="friend-link">
		<cms:link code="linkGroup1">
		<z:list>
		<a href="${Link.URL}" target="_blank">${Link.Name}</a>
		</z:list>
		</cms:link>
	</p>
</div>