<z:config type="Block" name="黑色mini导航条" />
<!-- begin | Top Bar -->
<div class="mainsite-topnav">
  <div class="mainsite-header clearfix">
    <span class="city-t">城市站：</span>
    <h3>
      <span id="currentCity" class="current" cityid="" name=""></span>
      <span class="triangle drop"></span>
      <div id="citychage" class="city hide"></div>
    </h3>
    <ul class="login-box" id="box01" style="display:none;">
      <li>
        <a class="login-bind" href="#" target="_self">登录</a>
      </li>
      <li class="site-nav-pipe">|</li>
      <li>
        <a class="register-bind" href="#" target="_self">注册</a>
      </li>
    </ul>
    <ul class="login-box" id="box02" style="display:none;">
      <li style="color:#fff"></li>
      <li class="mouse_over pr" id="userCenter">
        <a href="${Config.MemberBase}/member/member.htm"><span class="current"></span><span class="triangle drop"></span></a>
        <div class="group" id="useGroup">
          <a href="${Config.MemberBase}/member/testdrv.htm?searchType=DEFAULT&currentPage=1&pageSize=10" target="_blank">试乘试驾</a>
          <a href="${Config.ClubBase}/people/minisite" target="_blank">我的问答</a>
          <a href="${Config.MemberBase}/member/inquiry.htm?searchType=DEFAULT&currentPage=1&pageSize=10" target="_blank">我的询价</a>
          <a href="${Config.MemberBase}/member/benefits/orderlist.htm" target="_blank">我的权益</a>
          <a href="${Config.MemberBase}/member/myAllOrders.htm?currentPage=1" target="_blank">购车订单</a>
          <a href="${Config.MemberBase}/member/memberMall/myMallOrders.htm" target="_blank">车享汇订单</a>	
          <a href="${Config.LogoutUrl}" class="per-exit" target="_self">退出</a>
        </div>
      </li>
      <li class="site-nav-pipe site-nav-pipe-ml0 no-readline">|</li>
      <li class="gotomsg">
        <a href="${Config.MemberBase}/member/msg.htm?currentPage=1">
          <img src="${surl('public/ajax/lib/img/saike.main.site/mailcount.png')}" alt="未读消息">
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- end | Top Bar -->
