<z:config type="Block" name="侧边浮动栏" />
<div id="j-sidebar" class="sidebar">
		<ul class="side-abs">
			<li class="mainsite-im">
				<span class="tit im-client">
					<i class="icon-client"></i>客服
				</span>
			</li>
			<li class="line"></li>
			<li class="side-weixin">
				<span class="tit">
					<i class="icon-weixin"></i>订阅号
				</span>
				<div class="weixin-bd">
					<img width="90" height="90" alt="订阅号" title="订阅号" src="${surl('resource/img/ercode-top-2.png')}">
				</div>
			</li>
			<li class="line"></li>
			<li class="side-weixin">					
				<span class="tit">
					<i class="icon-weixin"></i>服务号
				</span>
				<div class="weixin-bd">
					<img width="90" height="90" alt="服务号" title="服务号" src="${surl('resource/img/ercode-top-3.png')}">
				</div>
			</li>
		</ul>
		<ul class="side-fix">
	<!-- 			<li class="cmp-enter">
				<a class="tit" href="${mainBase}/gycx/complaint.shtml" target="_blank"><i class="icon-advice"></i></a>
			<span class="advice-pop">投诉建议<i class="icon-advice ico-advice-arrows"></i></span> 
			</li>-->
			<li class="backtoTop">
				<span class="tit a-top"><i class="icon-top"></i></span>
				<span class="advice-pop">返回顶部<i class="icon-advice ico-advice-arrows"></i></span>
			</li>
		</ul>
	</div>