<z:config type="Block" name="活动" />
<link rel="stylesheet" type="text/css" href="${surl("public/ajax/lib/css/reset_css_saike/1.3/reset","css",false)}" />
<link rel="stylesheet" type="text/css" href="${surl("public/ajax/lib/css/saike.main.site/mainsite-header","css",false)}" />
<link rel="stylesheet" type="text/css" href="${surl("public/ajax/lib/css/cxh/style","css",false)}" />
<link rel="stylesheet" type="text/css" href="${surl("public/ajax/lib/css/cxh/slide","css",false)}" />
<script src="${surl('public/ajax/lib/js/jquery/1.8.3/jquery_1_8_3','js')}"></script>
<style>
.mainsite-footer{margin-top: 0;}
</style>